<div class="py-2 flex flex-col gap-2"
	 hx-target="this"
	 hx-swap="outerHTML">
	<label class="text-xl text-gray-900 dark:text-gray-100">Birthday</label>
	<p>Share your birthday and it will appear on your calendar. If you share your calendar with your
		special someone, your birthday will also appear on their calendar. </p>
	<p class="max-w-[400px] p-2 border border-pink-300 rounded-md">
		{% if not user.birthday %}
		You haven't chosen your birthday yet.
		{% else %}
		{{user.birthday}}
		{% endif %}
	</p>
	<div>
		<button hx-get="/birthday/{{user.id}}/edit"
				class="grow-0 flex justify-center items-center border rounded-md hover:bg-pink-400 active:bg-pink-500 p-2 border-pink-300">
			<img width="16"
				 height="16"
				 src="../../../static/img/icons8-edit-50.png"
				 alt="Edit"
				 class="htmx-indicator-content" />
			<img src="../../../static/img/spinner-48.png"
				 alt="Loading..."
				 class="htmx-indicator animate-spin-slow w-4 h-4" />
		</button>
	</div>
</div>