{% from "macros/spinner.html" import spinner %}
<form class="py-2 flex flex-col gap-2"
	  hx-put="/birthday/{{user.id}}"
	  hx-target="this"
	  hx-swap="outerHTML"
	  hx-indicator="#save-birthday">
	<label class="text-xl text-gray-900 ">Birthday</label>
	<p>Share your birthday and it will appear on your calendar. If you share your calendar with your
		special someone, your birthday will also appear on their calendar. </p>
	<input class="w-full max-w-[400px] p-2 bg-white rounded-md border border-pink-900 "
		   type="date"
		   name="birthday"
		   value="{{user.birthday}}" />
	<div class="flex gap-2">
		<button id="close-birthday"
				type="button"
				hx-get="/birthday/{{user.id}}"
				hx-indicator="#close-birthday"
				class="grow-0 flex justify-center items-center border rounded-md hover:bg-pink-400 active:bg-pink-500 p-2 border-pink-300">
			<img width="16"
				 height="16"
				 src="../../../static/img/icons8-close-50.png"
				 alt="Close"
				 class="htmx-indicator-content" />
			<img src="../../../static/img/spinner-48.png"
				 alt="Closing..."
				 class="htmx-indicator animate-spin-slow w-4 h-4" />
		</button>
		<button id="save-birthday"
				type="submit"
				class="grow-0 flex justify-center items-center p-2 border rounded-md bg-pink-500 hover:bg-pink-600 active:bg-pink-700 border-pink-600 active:border-pink-800">
			<img width="16"
				 height="16"
				 src="../../../static/img/icons8-check-50.png"
				 alt="Save"
				 class="htmx-indicator-content" />
			<img id="save-indicator"
				 src="../../../static/img/spinner-48.png"
				 alt="Saving..."
				 class="htmx-indicator animate-spin-slow w-4 h-4" />
		</button>
	</div>
</form>