{% from '/macros/spinner.html' import spinner%}
<div class="py-2 flex flex-col gap-2"
	 hx-target="this"
	 hx-swap="outerHTML">
	<label class="text-xl text-gray-900 ">Birthday</label>
	<p>Share your birthday and it will appear on your calendar. If you share your calendar with your
		special someone, your birthday will also appear on their calendar. </p>
	<div class="flex items-center">
		{% include "profile/birthday-input.html" %}
		<span class="htmx-indicator -ml-8">{{spinner('spinner', 'h-6', 'w-6', 'text-pink-900')}}</span>
		<span 
			id="birthday-success" 
			class="hidden opacity-0 -ml-14 h-6 w-6 -translate-y-2 transition-all duration-300 ease-in-out stroke-green-300"
			>
			{% include "svg/success.svg" %}
		</span>
	</div>
</div>