{% from '/macros/spinner.html' import spinner%}
<article class="py-2 flex flex-col gap-2">
	<label class="text-xl text-gray-900 ">Display name</label>
	<p>
		This is the name we'll use if we ever have to contact you. It's also the name that will be displayed to other
		users.
	</p>
	{% if not user.display_name %}
	<p class="p-2">You haven't chosen your display name yet.</p>
	{% else %}
	<div class="flex items-center">
	<input hx-put="/profile/display-name/edit/{{user.id}}"
	hx-trigger="keyup changed delay:500ms"
	hx-swap="none"
	hx-indicator="next span"
	class="w-full max-w-[400px] p-2 pr-6 rounded-md border border-pink-300 bg-pink-100 focus:bg-white"
		   type="text"
		   name="display_name"
		   value="{{user.display_name}}" />
	<span class="htmx-indicator -ml-8">{{spinner('spinner', 'h-6', 'w-6', 'text-pink-900')}}</span>
	</div>
	{% endif %}
</article>