{% extends "base.html" %}

{% block title %}Ennytime Profile Page{% endblock title%}

{% block content %}
<div class="wrapper--small profile profile__wrapper">
	<h1 class="sr-only">Your Profile</h1>
	<h2 class="profile__heading--2xl">Contact info</h2>
	<div class="profile__content">
		{# display name #}
		<div class="profile-form__input-group">
			<label for="display_name" class="profile-form__label">Display name</label>
			<p class="profile-form__explanation">This is the name we'll use if we ever have to contact you. It's also the name that will be displayed to other users.</p>
			<input 
				hx-put="/users/{{current_user.id}}"
				hx-trigger="keyup changed delay:1s"
				hx-swap="outerHTML"
				hx-on::after-settle="displaySuccess('name-success')"
				placeholder="Choose the name to use in the app."
				class="profile-form__input"
				type="text"
				id="display_name"
				name="display_name"
				value="{{current_user.display_name or ''}}"
				/>
		</div>
		{# username #}
		<div 
			hx-target="this"
			hx-swap="outerHTML"
			class="profile-form__input-group">
			<label for="app_username" class="profile-form__label">Username</label>
			<p class="profile-form__explanation">Choose a unique username for yourself. You need a username before anyone can share their calendar with you.</p>
			<input 
				class="profile-form__input"
				type="text"
				id="app_username"
				name="app_username"
				value="{{current_user.username or ''}}"
				placeholder="Choose a username."
				hx-post="/username-unique"
				hx-trigger="keyup changed delay:500ms"
				/>
		</div>
		{# birthday #}
		<div 
			hx-target="this"
			hx-swap="outerHTML"
			class="profile-form__input-group">
			<label for="birthday" class="profile-form__label">Birthday</label>
			<p class="profile-form__explanation">Share your birthday and it will appear on your calendar. If you share your calendar with your special someone, your birthday will also appear on their calendar. </p>
			<input 
				hx-put="/users/{{current_user.id}}"
				hx-target="this"
				hx-swap="outerHTML"
				hx-on::after-settle="displaySuccess('birthday-success')"
				class="profile-form__input"
				type="date"
				id="birthday"
				name="birthday"
				value="{{current_user.birthday}}"
				/>
		</div>
		{# email #}
		<div class="profile-form__input-group">
			<p class="profile-form__label">E-mail</p>
			<p class="profile-form__explanation">This is how we'll contact you with app information.</p>
			<p class="profile-form__input disabled">{{current_user.email}}</p>
		</div>
	</div>
	<br>
	<hr class="divider"/>
	<br>
	<div>
		<h2 class="profile-share__heading">Where is Calendar Sharing?</h2>
		<p class="profile-share__explanation">We are blocking calendar sharing for now. We are working on changes in the application, and calendar sharing will be back soon.</p>
		<h2 class="profile-share__heading">Where is Chat?</h2>
		<p>Chat is also going through some changes and is disabled for now.</p>
	</div>
</div>
{% endblock content %}