<div id="share-section"
	 class="flex flex-col gap-2">
	<p>
		Share your calendar with someone. Enter their username below to search for them.
	</p>
	<div class="flex items-center gap-2 w-full">
		<input class="w-[50%] p-2 rounded-md text-black"
			   type="search"
			   name="search_username"
			   placeholder="Begin Typing To Search Users..."
			   hx-post="/search"
			   hx-trigger="keyup changed delay:500ms, search"
			   hx-target="#search-results"
			   hx-swap="innerHTML"
			   hx-indicator="next span" />
		<span class="htmx-indicator">Searching...</span>
	</div>
	<div id="search-results"></div>
</div>