{% from "macros/spinner.html" import spinner %}
<form id="type-form"
	  class="max-w-[400px] mx-auto min-h-[400px] flex flex-col items-start gap-2 rounded-md dark:bg-gray-800"
	  hx-post="/shift-types/new"
	  hx-target="#type-form"
	  hx-swap="outerHTML">
	<div class="w-full flex justify-between items-baseline mb-4">
		<h3 class="text-3xl text-pink-700">New Shift</h3>
		<button hx-get="/shift-types"
				hx-target="#type-form"
				hx-swap="outerHTML"
				type="button">Cancel</button>
	</div>
	<p>
		Make your shift types here. Then you can add shifts to your
		calendar.
	</p>
	<div class="flex flex-col mb-6">
		<label for="long_name"
			   class="text-xl text-pink-700">Full Shift Name</label>
		<span class="mb-4">Choose an easy to understand name for your shift like <strong>Day Shift</strong> or <strong>Night Shift</strong></span>
		<input type="text"
			   id="long_name"
			   name="long_name"
			   required
			   placeholder="Choose name for shift type..."
			   class="border p-2 shadow rounded dark:bg-gray-800 dark:text-gray-100" />
	</div>
	<div class="flex flex-col mb-10">
		<label for="short_name"
			   class="text-xl text-pink-700">Shorten Shift Name</label>
		<span class="mb-4">
			Choose a short name to see in your <strong>Calendar Tabs</strong>.
		</span>
		<input type="text"
			   id="short_name"
			   name="short_name"
			   required
			   placeholder="Choose name for shift type..."
			   class="border p-2 shadow rounded dark:bg-gray-800 dark:text-gray-100" />
	</div>
	<button type="submit"
			class="flex gap-2 justify-center items-center bg-[#E22C7B] px-8 py-2 rounded-md grow-0 text-white">
		Save
		{{spinner('h-10', 'h-10', 'text-black')}}
	</button>
</form>