{% from "macros/spinner.html" import spinner %}
<form class="py-2 flex flex-col gap-2"
	  hx-put="/username/{{user.id}}"
	  hx-target="this"
	  hx-swap="outerHTML"
	  hx-indicator="#save-username">
	<label for="username"
		   class="text-xl text-gray-900 dark:text-gray-100">Username</label>
	<p>Choose a unique username for yourself. You need a username before anyone can share their calendar
		with you.</p>
	<input class="w-full max-w-[400px] p-2 bg-white rounded-md border border-white dark:text-gray-900"
		   type="text"
		   name="username"
		   value="{{username}}"
		   hx-post="/username-unique"
		   hx-trigger="keyup changed delay:500ms"
		   autofocus
		   onfocus="this.setSelectionRange(this.value.length,this.value.length);" />
	{% if username_taken and username != user.username %}
	<span class="bg-white p-2 rounded-md max-w-[400px] text-red-600">This username is already taken</span>
	{% elif username_taken and username == user.username %}
	<span class="bg-white p-2 rounded-md max-w-[400px] text-red-600">This is already your username</span>
	{% else %}
	<span class="bg-white p-2 rounded-md max-w-[400px] text-green-600">This username is available</span>
	{% endif %}
	<div class="flex gap-2">
		<button id="close-username"
				type="button"
				hx-get="/username/{{user.id}}"
				hx-indicator="#close-username"
				class="grow-0 flex justify-center items-center border rounded-md hover:bg-pink-400 active:bg-pink-500 p-2 border-pink-300">
			<img width="16"
				 height="16"
				 src="../../../static/img/icons8-close-50.png"
				 alt="Close"
				 class="htmx-indicator-content" />
			<img src="../../../static/img/spinner-48.png"
				 alt="Closing..."
				 class="htmx-indicator animate-spin-slow w-4 h-4" />
		</button>
		<button id="save-username"
				type="submit"
				class="grow-0 flex justify-center items-center p-2 border rounded-md bg-pink-500 hover:bg-pink-600 active:bg-pink-700 border-pink-600 active:border-pink-800">
			<img width="16"
				 height="16"
				 src="../../../static/img/icons8-check-50.png"
				 alt="Save"
				 class="htmx-indicator-content" />
			<img id="save-indicator"
				 src="../../../static/img/spinner-48.png"
				 alt="Saving..."
				 class="htmx-indicator animate-spin-slow w-4 h-4" />
		</button>
	</div>
</form>