{% if is_username_taken %}
	<div class="profile-form__errors">
		<span>{{username}} is already taken</span>
	</div>
	{% elif is_users_username %}
	<div class="profile-form__errors">
		<span>{{username}} is already yours</span>
	</div>
	{% elif is_empty_username %}
	<div class="profile-form__errors">
		<span>Username can't be empty</span>
	</div>
	{% else %}
	<div class="profile-form__available">
		<span>{{username}} is available </span>
		<button id="save-username"
				type="submit"
				class="available">
				Save
		</button>
	</div>
	{% endif %}