<form
  class="min-w-[300px]"
  hx-post="register-shift"
  hx-target="this"
  hx-swap="outerHTML"
>
  <p class="dark:text-gray-100">{{day_number}}</p>
  {# <p class="dark:text-gray-100">{{current_month}}</p> #}
  {# <p class="dark:text-gray-100">{{current_year}}</p> #}
  {# <p class="dark:text-gray-100">{{date_string}}</p> #}
  <div class="sr-only">
    <label>Date</label>
    <input
      readonly
      type="date"
      value="{{date_string}}"
      min="1900-01-01"
      max="3000-01-01"
      name="date"
      class="text-black border rounded p-2"
    />
  </div>
  <div class="grid gap-2 mb-2">
    {% for type in shift_types %}
    <label class="peer grid">
      <input
        class="sr-only peer"
        required
        type="radio"
        id="{{type.id}}"
        name="shift_type"
        value="{{type.id}}"
      />
      <span
        class="hover:bg-pink-300 active:bg-pink-400 cursor-pointer ease-in-out duration-200 w-full p-2 rounded-md peer-checked:bg-pink-700 peer-checked:text-pink-100"
      >
        {{type.type}}
      </span>
    </label>
    {% endfor %}
  </div>
  <button type="submit" class="dark:bg-[#E22C7B] px-3 py-1 rounded-md">
    Save shift
  </button>
</form>
<button
  class="hover:underline underline-offset-2"
  hx-get="/calendar-card/{{day_number}}"
  hx-target="#day-{{day_number}}"
  hx-swap="innerHTML"
  onclick="popOut(Number(`{{ day_number }}`))"
>
  Close
</button>
