{% from '/macros/spinner.html' import spinner%}
<div class="js-card relative p-4 md:p-8 slide-it h-full w-full flex flex-col justify-between md:gap-2"
	 hx-target="this"
	 hx-sync="this"
	 hx-swap="outerHTML"
	 hx-indicator="this">
	{# birthdays #}
	<div class="absolute -top-5 left-0 w-full flex justify-center gap-2">
		{% for birthday in birthdays %}
		{% if birthday.name == current_user.display_name and birthday.day == date.day_number %}
		<div class="rounded-full bg-pink-500 h-8 w-8 flex justify-center items-center">
			<img src="../../../static/birthday-cake.png"
				 alt="HBD"
				 class="h-5 w-5">
		</div>
		{% elif birthday.name != current_user.display_name and birthday.day == date.day_number %}
		<div class="rounded-full bg-pink-300 h-8 w-8 flex justify-center items-center">
			<img src="../../../static/birthday-cake.png"
				 alt="HBD"
				 class="h-5 w-5">
		</div>
		{% endif %}
		{% endfor %}
	</div>
	<div class="h-full flex flex-col justify-between overflow-y-auto">
		<header>
			<h3 class="text-3xl">{{written_month}}</h3>
			<p class="text-xl">{{written_day}}</p>
		</header>

		<main class="flex flex-col gap-2 max-h-[200px] sm:max-h-[400px] overflow-y-auto">
			{# birthday details #}
			{% if birthdays %}
			<div class="flex justify-between gap-2">
				{% for birthday in birthdays %}
				{% if birthday.name == current_user.display_name and birthday.day == date.day_number %}
				<p class="bg-pink-500 p-4 rounded-md">It is your birthday today!</p>
				{% elif birthday.name != current_user.display_name and birthday.day == date.day_number %}
				<p class="bg-pink-300  p-4 rounded-md">It is {{birthday.name}}'s birthday today!</p>
				{% endif %}
				{% endfor %}
			</div>
			{% endif %}
			{% if date.shifts|length > 0%}
			<ul id="user-list"
				class="bg-pink-500  p-4 rounded-md">
				{% for shift in date.shifts %}
				<li>
					<p>{{current_user.display_name}}</p>
					<p>{{shift.long_name}}</p>
				</li>
				{% endfor %}
			</ul>
			{% else %}
			<p class="border p-4 rounded-md">No shifts for today. Go have fun!</p>
			{% endif %}
			<br class="hidden" />
			{% if date.bae_shifts and date.bae_shifts|length > 0%}
			<ul id="partner-list"
				class="bg-pink-300  p-4 rounded-md">
				{% for shift in date.bae_shifts %}
				<li>
					<p>{{bae_user.display_name}}</p>
					<p>{{shift.long_name}}</p>
				</li>
				{% endfor %}
			</ul>
			{%endif%}
		</main>
		<div class="flex gap-4">
			<button 
				hx-get="/calendar-card-simple/{{date.date}}"
				hx-on::before-request="moveToCalendar(Number(`{{date.day_number}}`));"
				class="rounded bg-gray-300 px-4 py-1"
				>
				Close
			</button>
			<button hx-get="/add-shift-form/{{date.date}}"
					class="rounded bg-blue-500 text-white px-4 py-1">Edit</button>
		</div>
	</div>
</div>