{% from '/macros/spinner.html' import spinner%}
<div id="overlay" class="stacked fixed top-0 left-0 w-full h-full">
	<div id="backdrop" class="w-full h-full bg-black/70"></div>
    <div id="modal" class="w-full max-w-[500px] aspect-square px-2 sm:px-0">
		<div id="detail-{{request.path_params.get('day')}}" 
			data-flip-id="{{request.path_params.get('day')}}"
			class="grid place-items-center w-full h-full md:border-gray-900 prop bg-white z-50 rounded-md {% if request.headers.get('hx-request') %}opacity-0{% endif %}">
			<div class="js-card relative slide-it h-full w-full flex flex-col justify-between md:gap-2 transition-opacity duration-200 ease-in-out {% if request.headers.get('hx-request') %}invisible{% endif %}"
				hx-target="this"
				hx-sync="this"
				hx-swap="outerHTML"
				hx-indicator="this">
				{# birthdays #}
				<div class="absolute -top-5 left-0 w-full flex justify-center gap-2">
					{% if current_user.birthday and current_user.birthday.day == selected_date_object.day and current_user.birthday.month == selected_date_object.month %}
					<div class="rounded-full bg-pink-500 h-8 w-8 flex justify-center items-center">
						<img src="../../../static/birthday-cake.png"
							alt="HBD"
							class="h-5 w-5">
					</div>
					{% endif %}
					{% if bae_user and bae_user.birthday and bae_user.birthday.day == selected_date_object.day and bae_user.birthday.month == selected_date_object.month %}
					<div class="rounded-full bg-pink-300 h-8 w-8 flex justify-center items-center">
						<img src="../../../static/birthday-cake.png"
							alt="HBD"
							class="h-5 w-5">
					</div>
					{% endif %}
					{% if selected_date_object.month == 12 and selected_date_object.day == 25 %}
					<div class="rounded-full bg-red-400 h-8 w-8 flex justify-center items-center">
						<img 
							src="../../../static/christmas-tree-1.png"
							alt="HBD"
							class="h-5 w-5">
					</div>
					{% endif %}
					{% if selected_date_object.month == 12 and selected_date_object.day == 31 %}
					<div class="rounded-full bg-sky-900 h-8 w-8 flex justify-center items-center">
						<img 
							src="../../../static/new-years-eve.png"
							alt="HBD"
							class="h-8 w-8">
					</div>
					{% endif %}
					{% if selected_date_object.month == 2 and selected_date_object.day == 14 %}
						{% include "ui/icons/valentines-calendar-detail.html" %}
					{% endif %}
				</div>
				{# loading spinner #}
				<div class="htmx-indicator h-full w-full grid">
					<div class="w-full h-full flex justify-center items-center">
						{{spinner('spinner', 'h-6', 'h-6', 'text-black')}}
					</div>
				</div>
				<div class="htmx-indicator-content p-4 md:p-8 h-full flex flex-col justify-between overflow-y-auto">
					<header>
						<h3 class="text-3xl">{{selected_date_object.strftime('%B %d, %Y')}}</h3>
						<p class="text-xl">{{selected_date_object.strftime('%A')}}</p>
					</header>
					<main data-js-card-content class="js-card-content flex flex-col gap-2 h-full justify-center overflow-y-auto">
						{% if request.query_params.get("edit") %}
							{% include "/calendar/fragments/edit-view.html" %}
						{% else %}
							{% include "/calendar/fragments/detail-view.html" %}
						{% endif %}
					</main>
					<div class="flex gap-4">
						<a 
							hx-get="/calendar/{{selected_date_object.year}}/{{selected_date_object.month}}/{{selected_date_object.day}}?simple=true"
							hx-target="#container-{{selected_date_object.day}}"
							hx-swap="innerHTML"
							hx-on::after-request="animateToCalendar(Number(`{{selected_date_object.day}}`))"
							{# hx-on::before-request="moveToCalendar(Number(`{{selected_date_object.day}}`));" #}
							href="/calendar/{{selected_date_object.year}}/{{selected_date_object.month}}"
							class="rounded bg-gray-300 px-4 py-1">
							Close
						</a>
						{% if request.query_params.get("edit") %}
							<a 
								id="toggle-button"
								hx-swap-oob="true"
								hx-get="/calendar/{{selected_date_object.year}}/{{selected_date_object.month}}/{{selected_date_object.day}}"
								hx-target=".js-card-content"
								hx-indicator="this"
								hx-swap="innerHTML transition:true"
								hx-on::before-request="toggleEnterFromLeft('data-js-card-content');"
								href="/calendar/{{selected_date_object.year}}/{{selected_date_object.month}}?day={{selected_date_object.day}}"
								class="flex justify-center items-center rounded bg-blue-500 text-white px-4 py-1"
							>
								<span class="htmx-indicator-content">Back</span>
								<span class="htmx-indicator">{{spinner('spinner', 'h-5', 'h-5', 'text-blue-100')}}</span>
							</a>
						{% else %}
							<a 
								id="toggle-button"
								hx-get="/calendar/{{selected_date_object.year}}/{{selected_date_object.month}}/{{selected_date_object.day}}?edit=true"
								hx-target=".js-card-content"
								hx-indicator="this"
								hx-swap="innerHTML transition:true"
								hx-on::before-request="toggleEnterFromRight('data-js-card-content');"
								href="/calendar/{{selected_date_object.year}}/{{selected_date_object.month}}/{{selected_date_object.day}}?edit=true"
								class="flex justify-center items-center rounded bg-blue-500 text-white px-4 py-1">
								Edit
							</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>