{% from '/macros/spinner.html' import spinner%}
<div class="js-card relative slide-it h-full w-full flex flex-col justify-between md:gap-2"
	 hx-target="this"
	 hx-sync="this"
	 hx-swap="outerHTML"
	 hx-indicator="this">
	{# birthdays #}
	<div class="absolute -top-5 left-0 w-full flex justify-center gap-2">
		{% for birthday in birthdays %}
		{% if birthday.name == current_user.display_name and birthday.day == date_object.day %}
		<div class="rounded-full bg-pink-500 h-8 w-8 flex justify-center items-center">
			<img src="../../../static/birthday-cake.png"
				 alt="HBD"
				 class="h-5 w-5">
		</div>
		{% elif birthday.name != current_user.display_name and birthday.day == date_object.day %}
		<div class="rounded-full bg-pink-300 h-8 w-8 flex justify-center items-center">
			<img src="../../../static/birthday-cake.png"
				 alt="HBD"
				 class="h-5 w-5">
		</div>
		{% endif %}
		{% endfor %}
		{% if date_object.month == 12 and date_object.day == 25 %}
		<div class="rounded-full bg-red-400 h-8 w-8 flex justify-center items-center">
			<img 
				 src="../../../static/christmas-tree-1.png"
				 alt="HBD"
				 class="h-5 w-5">
		</div>
		{% endif %}
		{% if date_object.month == 12 and date_object.day == 31 %}
		<div class="rounded-full bg-sky-900 h-8 w-8 flex justify-center items-center">
			<img 
				 src="../../../static/new-years-eve.png"
				 alt="HBD"
				 class="h-8 w-8">
		</div>
		{% endif %}
		{% if date_object.month == 2 and date_object.day == 14 %}
			{% include "ui/icons/valentines-calendar-detail.html" %}
		{% endif %}
	</div>
	{# loading spinner #}
	<div class="htmx-indicator h-full w-full grid">
		<div class="w-full h-full flex justify-center items-center">
			{{spinner('spinner', 'h-6', 'h-6', 'text-black')}}
		</div>
	</div>
	<div class="htmx-indicator-content p-4 md:p-8 h-full flex flex-col justify-between overflow-y-auto">
		<header>
			<h3 class="text-3xl">{{date_object.strftime('%B %d, %Y')}}</h3>
			<p class="text-xl">{{date_object.strftime('%A')}}</p>
		</header>
		<main data-js-card-content class="js-card-content flex flex-col gap-2 h-full justify-center overflow-y-auto">
			{% include "/calendar/fragments/detail-view.html" %}
		</main>
		<div class="flex gap-4">
			{# 
				HX request disabled on return to calendar view for now.
				The animation will need some rework.
				But it should be possible to return the simple card the same way.
				I'll need to distringuish between hx-request + request simple card
				and hx-request + change month
			#}
			<a 
				{# hx-get="/calendar/{{date_object.year}}/{{date_object.month}}" #}
				{# hx-on::before-request="moveToCalendar(Number(`{{date_object.day}}`));" #}
				href="/calendar/{{date_object.year}}/{{date_object.month}}"
				class="rounded bg-gray-300 px-4 py-1">
				Close
			</a>
			<a 
				{# id="toggle-button" #}
				{# hx-get="/calendar/card/{{date.date}}/edit" #}
				{# hx-target=".js-card-content" #}
				{# hx-indicator="this" #}
				{# hx-swap="innerHTML transition:true" #}
				{# hx-on::before-request="toggleEnterFromRight('data-js-card-content');" #}
				href="#"
				class="flex justify-center items-center rounded bg-blue-500 text-white px-4 py-1">
				Edit
			</a>
		</div>
	</div>
</div>