{% from '/macros/spinner.html' import spinner%}
<div class="relative p-4 md:p-8 slide-it h-full w-full flex flex-col justify-between md:gap-2 overflow-y-auto"
	 hx-indicator="this">
	<div class="htmx-indicator h-full w-full grid place-content-center">
		<div class="w-full h-full flex justify-center items-center">
			{{spinner('spinner', 'h-6', 'h-6', 'text-black')}}
		</div>
	</div>
	<div class="htmx-indicator-content h-full flex flex-col justify-between overflow-y-auto">
		<header>
			<h3 class="text-3xl">{{written_month}}</h3>
			<p class="text-xl">{{written_day}}</p>
		</header>
		<div>
			<p class="mb-4">You didn't set up any shift types yet. You need to save your shifts before you can update your calendar.</p>
			<p>
				<a href="/shifts/setup/" class="text-blue-500 underline underline-offset-4 decoration-blue-500">Add new shift</a>
			</p>
		</div>
		<footer>
			<button type="button"
					class="rounded bg-gray-300  px-4 py-1"
					hx-get="/calendar-card-detail/{{date_string}}"
					hx-target="#day-{{day_number}}"
					hx-swap="innerHTML"
					hx-trigger="click">
				Back
			</button>
		</footer>
	</div>
</div>