{% extends "base.html" %}
{% from '/macros/spinner.html' import spinner%}
{% block title %}
Ennytime Couple's Calendar
{% endblock title %}
{% block content %}
<section class="py-4">
    <div class="container mx-auto px-2">
    {% include "calendar/fragments/calendar-controls.html" %}
    {% include "calendar/fragments/calendar.html" %}
    </div>
</section>
<div id="overlay"
	 class="p-2 sm:p-0 hidden opacity-0 grid place-items-center fixed top-0 left-0 w-full h-full bg-black/50 transition-all duration-400 ease-in-out">
	<div id="modal"
		 class="w-full max-w-[500px] aspect-square"></div>
</div>
<div class="js-christmas-overlay fixed top-0 left-0 w-full h-full bg-red-700/70 flex justify-center items-center px-2 sm:px-0 duration-500 ease-in-out opacity-0">
    <div class="js-christmas-modal relative w-full sm:w-[500px] bg-white rounded-xl py-16 duration-300 ease-in-out opacity-0 translate-y-16">
        <button class="js-christmas-modal-button absolute top-2 right-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-700 hover:text-gray-900" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
        <img src="../../../static/winter-bg.png" alt="Christmas Tree" class="opacity-50 w-[100px] h-[100px] m-auto mb-4">
        <h2 class="text-center text-red-700 text-4xl mb-8 font-bold">Merry Christmas</h2>
        <div class="px-4 font-semibold text-gray-500 max-w-[400px] mx-auto">
            <p class="mb-4 text-xl text-gray-800">Dear {{current_user.display_name}},</p>
            <p class="mb-2">Merry Christmas and a Happy New Year from Ennytime <span class="text-red-700">❤️</span></p>
            <p>Wishing you an amazing year in 2025!</p>
        </div>
    </div>
</div>
{% endblock content %}