{% from "macros/spinner.html" import spinner %}
<div class="enter-from-right max-w-[800px] mx-auto">
    <p>Before you can start sharing your calender with your significant other...</p>
    <p class="mb-4">Name your first shift. You need to name the different shifts you work to share them on your calendar.</p>
    <hr class="mb-4 border-pink-200"/>
    <form 
        hx-post="/quick-setup/first-shift"
        hx-target="closest div"
        hx-swap="outerHTML transition:true"
        hx-indicator="find button">
        <div class="w-full flex flex-col mb-6">
            <label for="shift_name"
                class="text-xl text-pink-700 mb-1">Name your first shift</label>
            <span class="mb-4">
                Choose a name for your shift like <strong>Day Shift</strong> or <strong>Night Shift</strong>.
            </span>
            <input 
                type="text"
                id="shift_name"
                name="shift_name"
                required
                placeholder="Night Shift"
                class="border p-2 shadow rounded"/>
        </div>
        <button type="submit"
                class="flex gap-2 justify-center items-center bg-[#E22C7B] px-8 py-2 rounded-md grow-0 text-white">
                <span class="htmx-indicator-content">
                    Save
                </span>
                <span class="htmx-indicator">
                    {{spinner('spinner', 'h-5', 'w-5', 'text-white')}}
                </span>
        </button>
    </form>
</div>