<div class="enter-from-right max-w-[800px] mx-auto">
    <div class="flex justify-center gap-4 mb-4">
        <a href="/quick-setup/shifts" class="bg-pink-200 h-4 w-4 rounded-full"></a>
        <a href="/quick-setup/schedule" class="bg-pink-600 h-4 w-4 rounded-full"></a>
        <a href="/quick-setup/username" class="bg-pink-200 h-4 w-4 rounded-full"></a>
    </div>
    <hr class="mb-4 border-pink-200"/>
    <h2 class="text-2xl mb-2 text-pink-700">Schedule your shifts</h2>
    <p class="mb-2">Use the list of dates below and schedule your shift when you're working.</p>
    <ul class="grid grid-cols-3 gap-x-2 h-[450px] sm:h-[400px] pb-[96px] sm:pb-0 overflow-y-auto no-scrollbar border border-gray-300 shadow-inner p-2 rounded-md">
        {% for date in month_calendar.values() %}
        <li class="py-2">
            <p class="mb-2 grid truncate">
                <span class="text-ellipsis text-2xl text-center truncate">{{date.date_object.strftime("%A")}}</span>
                <span class="text-ellipsis text-md text-gray-700 text-center truncate">({{date.date_object.strftime("%B")}} {{date.date_object.day}})</span>
            </p>
            <div class="flex justify-center flex-wrap gap-2">
                {% for type in shift_types %}
                {% if type.id | is_user_shift(date.shifts) %}
                    {% include "scheduling/fragments/shift-exists-button.html" %}
                {% else %}
                    {% include "scheduling/fragments/no-shift-button.html" %}
                {% endif %}
                {% endfor %}
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="mb-16 pt-4 w-full bg-white flex justify-end items-start grow-0 sm:relative">
        <a href="/quick-setup/username" class="bg-pink-500 text-white rounded-md px-3 py-1 hovercursor-pointer">Continue</a>
    </div>
</div>