{% extends "base.html" %}
{% block title %}
Ennytime — Shifts
{% endblock title %}
{% block content %}
<div class="wrapper--small shifts__wrapper">
    <h1 class="shifts__heading">Your Work Shifts</h1>
    <p class="shifts__description mb-4">
        Manage your work shifts below.
    </p>
    <hr class="divider">
    <br>
    {% include "shifts/partials/_shifts.html" %}
    <a 
        href="/shifts/new"
        class="shifts__link--new">
        Add more shifts
    </a>
</div>
{% endblock content %}