{% from '/macros/spinner.html' import spinner%}
<div class="calendar__controls">
    {% if current_date.month == 1 %}
    <a  
        href="/scheduling/{{current_date.year-1}}/12"
        {# hx-get="/scheduling/{{current_date.year-1}}/12" #}
        {# hx-target="[data-js-schedule]" #}
        {# hx-swap="outerHTML transition:true" #}
        {# hx-indicator="this" #}
        {# hx-push-url="true" #}
        {# hx-on::before-request="toggleEnterFromLeft('data-js-schedule');" #}
        class="calendar__control-btn text-center col-span-1 px-3 py-1 border rounded hover:bg-gray-200 active:bg-gray-300">
    {% else %}
    <a  
        href="/scheduling/{{current_date.year}}/{{current_date.month-1}}"
        {# hx-get="/scheduling/{{current_date.year}}/{{current_date.month-1}}" #}
        {# hx-target="[data-js-schedule]" #}
        {# hx-swap="outerHTML transition:true" #}
        {# hx-indicator="this" #}
        {# hx-push-url="true" #}
        {# hx-on::before-request="toggleEnterFromLeft('data-js-schedule');" #}
        class="calendar__control-btn text-center col-span-1 px-3 py-1 border rounded hover:bg-gray-200 active:bg-gray-300">
    {% endif%}
        <span class="htmx-indicator-content">
            {{prev_month_name}}
        </span>
    </a>
    <!-- if end of year -->
    {% if current_date.month == 12 %}
    <a  
        href="/scheduling/{{current_date.year+1}}/1"
        {# hx-get="/scheduling/{{current_date.year+1}}/1" #}
        {# hx-target="[data-js-schedule]" #}
        {# hx-swap="outerHTML transition:true" #}
        {# hx-indicator="this" #}
        {# hx-push-url="true" #}
        {# hx-on::before-request="toggleEnterFromRight('data-js-schedule');" #}
        class="calendar__control-btn text-center col-span-1 px-3 py-1 border rounded hover:bg-gray-200 active:bg-gray-300">
    {% else %}
    <a  
        href="/scheduling/{{current_date.year}}/{{current_date.month+1}}"
        {# hx-get="/scheduling/{{current_date.year}}/{{current_date.month+1}}" #}
        {# hx-target="[data-js-schedule]" #}
        {# hx-swap="outerHTML transition:true" #}
        {# hx-indicator="this" #}
        {# hx-push-url="true" #}
        {# hx-on::before-request="toggleEnterFromRight('data-js-schedule');" #}
        class="calendar__control-btn text-center col-span-1 px-3 py-1 border rounded hover:bg-gray-200 active:bg-gray-300">
    {% endif %}
        <span class="htmx-indicator-content">
            {{next_month_name}}
        </span>
    </a>
</div>