{% from '/macros/spinner.html' import spinner%}
<form 
    action="/scheduling"
    method="POST"
    hx-post="/scheduling"
    hx-swap="outerHTML"
    >
    <div class="sr-only">
        <label for="date-{{date.strftime('%Y-%m-%d')}}">Date</label>
        <input id="date-{{date.strftime('%Y-%m-%d')}}" name="date" type="date" value="{{date}}"/>
    </div>
    <div class="sr-only">
        <label for="shift-{{shift.id}}">Shift</label>
        <input id="shift-{{shift.id}}" name="shift" type="number" value="{{shift.id}}">
    </div>
    <button
        type="submit"
        class="border py-1 px-2 rounded-md duration-200 ease-in-out min-w-[100px]">
        <span class="htmx-indicator-content">{{shift.short_name}}</span>
        <span class="htmx-indicator">{{spinner('spinner', 'h-5', 'h-5', 'text-pink-500')}}</span>
    </button>
</form>
