{% from '/macros/spinner.html' import spinner%}
<button hx-delete="/scheduling/{{date.date_string}}/{{type.id}}"
        hx-confirm="Are you sure you want to delete this shift?"
        hx-swap="outerHTML"
        class="border border-pink-300 bg-pink-300 py-1 px-2 rounded-md duration-200 ease-in-out min-w-[100px]">
    <span class="htmx-indicator-content">
        {{type.short_name}}
    </span>
    <span class="htmx-indicator">{{spinner('spinner', 'h-5', 'h-5', 'text-white')}}</span>
</button>