<form 
    method="POST"
    action="/shifts/{{shift.id}}/edit"
    >
    <div class="shifts-form__input-group">
        <label class="shifts-form__label">Long Name</label>
        <input 
            id="long_name"
            name="long_name"
            value="{{shift.long_name}}"
            class="shifts-form__input"/>
    </div>
    <div class="shifts-form__input-group">
        <label class="shifts-form__label">Short Name</label>
        <input 
            id="short_name"
            name="short_name"
            value="{{shift.short_name}}"
            class="shifts-form__input"/>
    </div>
    <button type="submit" class="shifts-form__btn">Save</button>
</form>