<div class="js-christmas-overlay christmas-overlay">
    <div class="js-christmas-modal christmas-modal">
        <img src="../../../static/winter-bg.png" alt="Christmas Tree" class="christmas-image">
        <h2 class="christmas-heading">Merry Christmas</h2>
        <div class="christmas-content">
            {% if custom_holiday_message %}
            {{ custom_holiday_message.content | safe }}
            {% else %}
            {% if current_user.display_name %}
            <p>Dear {{current_user.display_name}},</p>
            {% else %}
            <p>Dear New User,</p>
            {% endif %}
            <p>Merry Christmas and a Happy New Year from Ennytime <span>❤️</span></p>
            <p>Wishing you an amazing year in 2026!</p>
            {% endif %}
        </div>
        <a hx-delete="/modal-close" hx-target=".christmas-overlay" hx-swap="delete" class="christmas-button">Merry Christmas</a>
    </div>
</div>