<div class="flex flex-col gap-1">
    <label for="password">Password</label>
    <input 
        id="password"
        hx-post="/user/password"
        hx-target="closest div"
        hx-swap="outerHTML"
        class="border rounded p-2 bg-gray-100"
        name="password"
        type="password"
        minLength="8"
        value="{{previous_password}}"
        placeholder="Longer than 8 characters"
        required />
    <div id="password-error" class="text-right text-red-500 text-sm h-5">{{password_error}}</div>
</div>