{% from '/macros/spinner.html' import spinner%}
<form 
    hx-post="/signup"
    hx-swap="outerHTML"
    >
    <span id="form-error" class="text-red-500">{{form_error}}</span>
    {% include "/auth/forms/email-input.html" %}
    {% include "/auth/forms/password-input.html" %}
    <button class="w-full mt-4 bg-pink-600 text-white px-3 py-2 rounded">
        <span class="htmx-indicator-content">Sign in</span>
        <span class="htmx-indicator">{{spinner('spinner', 'h-5', 'w-5', 'text-white')}}</span>
    </button>
</form>