{% from '/macros/spinner.html' import spinner%}
{% extends "base.html" %}

{% block title %}
Ennytime Sign In
{% endblock title %}

{% block content %}

    <section
      class="bg-white   grid place-items-center p-2 py-8 md:py-16 bg-pink-700"
    >
      <article
        class="bg-[#FDE5EC]  grid mx-auto rounded-md text-black p-8 min-h-[500px] max-w-[400px]"
      >
        <h2 class="text-5xl mb-4 ">Sign in</h2>
        <p class="mb-4 text-gray-700  text-[16px]">
          Welcome back to getting the most possible time with your special
          someone.
        </p>
        <form
          hx-post="/signin"
          hx-target="this"
          hx-swap="afterbegin"
          class="grid gap-2 mb-8"
        >
          <div class="flex flex-col gap-1">
            <label class=" font-bold">Email</label>
            <input
              class="border rounded p-2"
              type="email"
              name="email"
              required
            />
          </div>
          <div class="flex flex-col gap-1">
            <label class=" font-bold">Password</label>
            <input
              class="border rounded p-2"
              type="password"
              name="password"
              required
            />
          </div>

          <button class="flex gap-2 justify-center items-center px-2 py-1 bg-pink-700 text-white rounded">
            Sign in
			{{spinner('h-5', 'h-5', 'text-white')}}
          </button>
        </form>

        <p class="text-gray-700 ">
          Don't have an account?
          <a href="/signup" class="text-[#a51755]  underline">
            Sign up
          </a>
        </p>
      </article>
    </section>
{% endblock content %}