
{% from '/macros/spinner.html' import spinner%}
{% extends "base.html" %}

{% block title %}
Ennytime Sign Up
{% endblock title %}

{% block header %}
{% include 'website/landing-header.html' %}
{% endblock header %}

{% block content %}
    <section
      class="bg-white dark:bg-gray-900 dark:text-gray-100 grid place-items-center p-2 py-8 md:py-16 bg-pink-700"
    >
      <article
        class="bg-[#FDE5EC] dark:bg-[#691C3D] rounded-md text-black p-8 md:max-w-[400px] mx-auto"
      >
        <h2 class="text-5xl mb-4 dark:text-gray-100">Sign up</h2>
        <p class="mb-4 text-gray-700 dark:text-gray-300 text-[16px]">
          Start sharing your calendar with the one you love.
        </p>
        <form
          hx-post="/signup"
          hx-target="this"
          hx-swap="afterbegin"
          class="grid gap-2 mb-8"
        >
          <div class="flex flex-col gap-1">
            <label class="dark:text-gray-100 font-bold">Email</label>
            <input
              class="border rounded p-2 text-gray-700"
              type="email"
              name="email"
              required
            />
          </div>
          <div class="flex flex-col gap-1">
            <label class="dark:text-gray-100 font-bold">Password</label>
            <input
              class="border rounded p-2"
              type="password"
              name="password"
              required
            />
          </div>
          <button
            class="flex gap-2 justify-center items-center px-2 py-1 bg-[#D31D6C] dark:bg-[#E22C7B] text-white rounded"
          >
            Find the time
			{{spinner('h-10', 'h-10', 'text-white')}}
          </button>
        </form>
        <p class="text-gray-700 dark:text-gray-300">
          Already have an account?
          <a class="text-[#a51755] dark:text-[#E22C7B] underline" href="/signin"
            >Sign in</a
          >
        </p>
      </article>
    </section>
{% endblock content %}