
{% from '/macros/spinner.html' import spinner%}
{% extends "base.html" %}

{% block title %}
Ennytime Sign Up
{% endblock title %}

{% block content %}
    <section
      class="bg-white   grid place-items-center p-2 py-8 md:py-16 bg-pink-700"
    >
      <div
        class="bg-[#FDE5EC]  rounded-md text-black p-8 md:max-w-[400px] mx-auto"
      >
        <header>
          <h2 class="text-5xl mb-4 ">Sign up</h2>
          <p class="mb-4 text-gray-700  text-[16px]">
            Start sharing your calendar with the one you love.
          </p>
        </header>
        {% include "auth/forms/sign-up-form.html" %}
        {# <form
          hx-post="/signup"
          hx-target="this"
          hx-swap="afterbegin"
          class="grid gap-2 mb-8"
        >
          <div class="flex flex-col gap-1">
            <label class=" font-bold">Email</label>
            <input
              class="border rounded p-2 text-gray-700"
              type="email"
              name="email"
              required
            />
          </div>
          <div class="flex flex-col gap-1">
            <label class=" font-bold">Password</label>
            <input
              class="border rounded p-2"
              type="password"
              name="password"
              required
            />
          </div>
          <button
            class="flex gap-2 justify-center items-center px-2 py-1 bg-[#D31D6C]  text-white rounded"
          >
            Find the time
			{{spinner('h-5', 'h-5', 'text-white')}}
          </button>
        </form> #}
        <footer>
          <p class="text-gray-700 ">
            Already have an account?
            <a class="text-[#a51755]  underline" href="/signin"
              >Sign in</a
            >
          </p>
        </footer>
      </div>
    </section>
{% endblock content %}