{% extends "base.html" %}
{% block title %}
Ennytime Couple's Calendar
{% endblock title %}
{% block content %}
<section class="bg-gradient-to-r from-pink-500 to-pink-600 text-gray-900 	grid md:place-items-center pt-16">
	<div class="max-w-[1000px] md:grid md:grid-cols-2 md:gap-0 mx-auto sm:px-4">
		<div
			 class="flex flex-col text-balance items-start px-4 md:px-0 md:text-left py-4 md:max-w-[400px] mb-12 md:mb-0">
			<h1 class="text-pretty text-xl md:text-2xl md:max-w-[65ch] text-white mb-12">
				Easy calendar sharing for couples with always changing work schedules.
			</h1>
			<h2 class="text-balance order-first text-3xl md:text-6xl md:max-w-[400px] text-white mb-6">
				Make finding the time easy again.
			</h2>
			<a href="/signup"
			   class="text-xl bg-pink-800 text-white py-2 px-8 rounded-md">
				Spend more time together
			</a>
		</div>
		<div class="bg-pink-300 rounded-full aspect-square">
			{% include "/svg/hero-lovers.html" %}
		</div>
	</div>
	<div class="bg-gradient-to-r from-pink-500 to-pink-600 w-full">
		{% include "/svg/waves-down.svg" %}
	</div>
</section>
<section class="min-h-screen py-36 grid gap-8">
	<div class="max-w-[1000px] mx-auto grid md:grid-cols-2">
		<div class="p-4 md:p-16">
			<h2 class="text-2xl text-pink-700">Save your regular shifts</h2>
			<p>
				Set up all your regular shifts so you can quickly update your calendar every time you get your new work
				schedule.
			</p>
		</div>
		<div class="bg-pink-50 md:rounded-2xl p-4 md:p-16">
			<img class="w-full h-full shadow-2xl shadow-pink-200 rounded-2xl"
				 src="../../static/img/features-new-shift-form.png"
				 alt="New shift type form demo" />
		</div>
	</div>
	<div class="max-w-[1000px] mx-auto grid md:grid-cols-2">
		<div class="md:order-2 p-4 md:p-16">
			<h2 class="text-2xl text-pink-700">Add shifts to your calendar</h2>
			<p>
				Quick and easy click to schedule your shifts on all your working days.
			</p>
		</div>
		<div class="bg-pink-50 md:rounded-2xl p-4 md:p-16">
			<img class="w-full h-full shadow-2xl shadow-pink-200 rounded-2xl"
				 src="../../static/img/features-edit-schedule.png"
				 alt="Edit schedule form" />
		</div>
	</div>
	<div class="max-w-[1000px] mx-auto grid md:grid-cols-2">
		<div class="p-4 md:p-16">
			<h2 class="text-2xl text-pink-700">Share your calendar with the one you love</h2>
			<p>
				Lover Search let's you find your loved one with privacy - no lists of users involved. This isn't
				Facebook. Only search someone when you know their username.
			</p>
		</div>
		<div class="bg-pink-50 md:rounded-2xl p-4 md:p-16">
			<img class="w-full h-full shadow-2xl shadow-pink-200 rounded-2xl"
				 src="../../static/img/features-calendar-sharing.png"
				 alt="Share calendar form" />
		</div>
	</div>
	<div class="max-w-[1000px] mx-auto grid md:grid-cols-2">
		<div class="md:order-2 p-4 md:p-16">
			<h2 class="text-2xl text-pink-700">See your time together on the calendar</h2>
			<p>
				See all the times when you are both free on the Couple's Calendar. Just one glance to know when you'll
				be together again.
			</p>
		</div>
		<div class="bg-pink-50 md:rounded-2xl p-4 md:p-16">
			<img class="w-full h-full shadow-2xl shadow-pink-200 rounded-2xl"
				 src="../../static/img/features-calendar-view.png"
				 alt="Share calendar form" />
		</div>
	</div>
</section>
<section class="min-h-screen bg-gray-100"></section>
<section class="min-h-[50vh] bg-gradient-to-r from-pink-500 to-pink-600 pb-36">
	<div class="bg-gradient-to-r from-pink-500 to-pink-600 w-full mb-16">
		{% include "/svg/waves-up.svg" %}
	</div>
	<div class="max-w-[1000px] mx-auto text-white text-balance text-center">
		<h2 class="text-6xl text-center mb-6">Spend More Time with the One You Love</h2>
		<hr class="border-pink-300 mb-8" />
		<p class="mb-16 text-xl">
			Take the pain out of scheduling and get the gains of time together!
		</p>
		<a href="signup"
		   class="inline-block bg-pink-800 text-white text-4xl rounded-lg px-8 py-2">Sign Up</a>
	</div>
</section>
<footer class="bg-pink-800 py-48">
	<p class="text-white text-center">&copy; 2024 Ennytime. All rights reserved.</p>
</footer>
{% endblock content %}