@view-transition {
    navigation: auto;
}

:root {
    --color-white: #FFFFFF;
    --color-black: #000000;

    --color-gray-50: #F9FAFB; 
    --color-gray-100: #F3F4F6; 
    --color-gray-200: #E5E7EB; 
    --color-gray-300: #D1D5DB; 
    --color-gray-400: #9CA3AF; 
    --color-gray-500: #6B7280; 
    --color-gray-600: #6B7280; 
    --color-gray-700: #374151; 
    --color-gray-800: #1F2937; 
    --color-gray-900: #111827; 

    --color-pink-50: #FDF2F8; 
    --color-pink-100: #FCE7F3; 
    --color-pink-200: #FBCFE8; 
    --color-pink-300: #F9A8D4; 
    --color-pink-400: #F472B6; 
    --color-pink-500: #EC4899; 
    --color-pink-600: #DB2777; 
    --color-pink-700: #BE185D; 
    --color-pink-800: #9D174D; 
    --color-pink-900: #831843;

    --color-blue-50: #EFF6FF; 
    --color-blue-100: #DBEAFE; 
    --color-blue-200: #BFDBFE; 
    --color-blue-300: #93C5FD; 
    --color-blue-400: #60A5FA; 
    --color-blue-500: #3B82F6; 
    --color-blue-600: #2563EB; 
    --color-blue-700: #1D4ED8; 
    --color-blue-800: #1E40AF; 
    --color-blue-900: #1E3A8A; 

    --color-red-50: #FEF2F2; 
    --color-red-100: #FEE2E2; 
    --color-red-200: #FECACA; 
    --color-red-300: #FCA5A5; 
    --color-red-400: #F87171; 
    --color-red-500: #EF4444; 
    --color-red-600: #DC2626; 
    --color-red-700: #B91C1C; 
    --color-red-800: #991B1B; 
    --color-red-900: #7F1D1D; 
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit; /* Get rid of all font sizes and heights */
}

body {
  min-height: 100vh;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty; /* Prevents orphans on lines */
}

button {
    border: inherit;
    background: inherit;
}

dialog {
    display: none;
    background-color: white;
    width: 500px;
    aspect-ratio: 1/1;
    border-radius: 0.5rem;
    border: 0;
}

dialog > * {
    display: none;
}

dialog[open] {
    display: flex;
}

dialog[open] > * {
    display: block;
}

dialog::backdrop {
    background-color: rgb(102,102,102);
    opacity: 0.8;
}
