@view-transition {
    navigation: auto;
}

:root {
    --color-white: #FFFFFF;
    --color-black: #000000;

    --color-gray-50: #F9FAFB; 
    --color-gray-100: #F3F4F6; 
    --color-gray-200: #E5E7EB; 
    --color-gray-300: #D1D5DB; 
    --color-gray-400: #9CA3AF; 
    --color-gray-500: #6B7280; 
    --color-gray-600: #6B7280; 
    --color-gray-700: #374151; 
    --color-gray-800: #1F2937; 
    --color-gray-900: #111827; 

    --color-pink-50: #FDF2F8; 
    --color-pink-100: #FCE7F3; 
    --color-pink-200: #FBCFE8; 
    --color-pink-300: #F9A8D4; 
    --color-pink-400: #F472B6; 
    --color-pink-500: #EC4899; 
    --color-pink-600: #DB2777; 
    --color-pink-700: #BE185D; 
    --color-pink-800: #9D174D; 
    --color-pink-900: #831843;

    --color-blue-50: #EFF6FF; 
    --color-blue-100: #DBEAFE; 
    --color-blue-200: #BFDBFE; 
    --color-blue-300: #93C5FD; 
    --color-blue-400: #60A5FA; 
    --color-blue-500: #3B82F6; 
    --color-blue-600: #2563EB; 
    --color-blue-700: #1D4ED8; 
    --color-blue-800: #1E40AF; 
    --color-blue-900: #1E3A8A; 

    --color-red-50: #FEF2F2; 
    --color-red-100: #FEE2E2; 
    --color-red-200: #FECACA; 
    --color-red-300: #FCA5A5; 
    --color-red-400: #F87171; 
    --color-red-500: #EF4444; 
    --color-red-600: #DC2626; 
    --color-red-700: #B91C1C; 
    --color-red-800: #991B1B; 
    --color-red-900: #7F1D1D; 
    
    --font-3xl: 1.875rem;
    --leading-3xl: 2.25rem; 

}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit; /* Get rid of all font sizes and heights */
}

body {
    min-height: 100vh;
    overflow-y: scroll;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

p {
    max-width: 75ch;
    text-wrap: pretty; /* Prevents orphans on lines */
}

button {
    border: inherit;
    background: inherit;
    color: inherit;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

{{/* layout styles */}}

.wrapper {
    max-width: 1000px;
    margin-inline: auto;
}

{{/* header styles */}}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: var(--color-pink-600);
}

.header__wrapper {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.header__logo {
    font-size: var(--font-3xl);
    line-height: var(--leading-3xl);
}

.header__toggle {
    color: var(--color-white);
    stroke: var(--color-white);
    fill: var(--color-white);
    cursor: pointer;
}

.header__hamburger {
    width: 1.5rem; 
    height: 1.5rem; 
    cursor: pointer; 
    user-select: none; 
}

.header__close {
    z-index: 20; 
    width: 1.5rem; 
    height: 1.5rem; 
    cursor: pointer; 
    user-select: none;
    color: var(--color-white);
    stroke: var(--color-white);
    fill: var(--color-white);
}

.header__nav-wrapper {
    display:flex;
    gap: 1rem;
}

.nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    z-index: 100;
}

.header__toggle {
    display: none;
}

.header__close {
    display: none;
}

.header__dropdown {
display: block;
    position: relative; 
    z-index: 10;
}

.header__dropdown-toggle {
    display: flex; 
    gap: 0.5rem; 
    align-items: center; 
    white-space: nowrap; 
    cursor: pointer; 
    user-select: none; 
}
.header__dropdown-toggle > svg {
    color: var(--color-white);
    fill: var(--color-white);
}

.header__dropdown-toggle--open {
    --transform-rotate: 180deg; 
    transition-duration: 200ms; 
}

.header__dropdown-menu {
    position: absolute; 
    right: 0; 
    z-index: 20; 
    padding: 0.5rem; 
    border-radius: 0.5rem; 
    width: 10rem; 
    color: var(--color-black); 
    background-color: var(--color-white); 
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); 
}

.header__dropdown-menu--enter {
    transition-duration: 300ms; 
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1); 
}

.header__dropdown-menu--start {
    --transform-scale-x: .9;
    --transform-scale-y: .9; 
    opacity: 0; 
}

.header__dropdown__item {
    display: grid; 
    padding-top: 0.25rem;
    padding-bottom: 0.25rem; 
    padding-left: 0.5rem;
    padding-right: 0.5rem; 
    border-radius: 0.25rem; 
    cursor: pointer; 
}

.header__dropdown__item:hover {
    background-color: var(--color-pink-100); 
}


{{/* @media screen and (min-width: 768px) { 
    .header__dropdown {
        display: block; 
    }
} */}}

 @media screen and (width <= 768px) {
    .nav {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        color: var(--color-white);
        background-color: var(--color-pink-500);
        font-size: 1.5rem;
        line-height: 2rem;
        z-index: 9999;
    }


    .open {
        display: grid;
        text-align: center;
        place-content: center;
        gap: 1rem;
    }

    .header__toggle {
        display: block;
    }

    .header__close {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

{{/* calendar card modal styles */}}

dialog {
    display: none;
    background-color: white;
    width: 500px;
    aspect-ratio: 1/1;
    border-radius: 0.5rem;
    border: 0;
}

dialog > * {
    display: none;
}

dialog[open] {
    display: flex;
}

dialog[open] > * {
    display: block;
}

dialog::backdrop {
    background-color: rgb(102,102,102);
    opacity: 0.8;
}
