@view-transition {
    navigation: auto;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit; /* Get rid of all font sizes and heights */
}

body {
  min-height: 100vh;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty; /* Prevents orphans on lines */
}

button {
    border: inherit;
    background: inherit;
}

dialog {
    display: none;
    background-color: white;
    width: 500px;
    aspect-ratio: 1/1;
    border-radius: 0.5rem;
    border: 0;
}

dialog > * {
    display: none;
}

dialog[open] {
    display: flex;
}

dialog[open] > * {
    display: block;
}

dialog::backdrop {
    background-color: rgb(102,102,102);
    opacity: 0.8;
}
