{% extends "base.html" %}
{% from '/macros/spinner.html' import spinner%}
{% block title %}
Ennytime - Quick Setup
{% endblock title %}
{% block header %}
{% endblock header %}
{% block content %}
<div class="max-w-[65ch] mx-auto mt-8 sm:mt-16 px-2 sm:px-0">
    <h1 class="text-3xl font-semibold mb-4 text-pink-500">Welcome to Ennytime Couple's Calendar</h1>
    <hr class="border-pink-200 mb-4"/>
    <div id="breadcrumb" class="flex justify-center items-center gap-4 mb-4">
        <a href="/quick-setup/shifts" class="bg-pink-600 h-4 w-4 rounded-full"></a>
        <a href="/quick-setup/schedule" class="bg-pink-200 h-4 w-4 rounded-full"></a>
        <a href="/quick-setup/username" class="bg-pink-200 h-4 w-4 rounded-full"></a>
        <a href="/quick-setup/display-name" class="bg-pink-200 h-4 w-4 rounded-full"></a>
    </div>
    <hr class="mb-4 border-pink-200"/>
    {% include "/quick-setup/shifts/fragments/shift-content.html" %}
    <div 
        hx-target="previous .js-content-container"
        hx-swap="outerHTML transition:true"
        id="footer" 
        class="flex justify-end">
        <a 
            href="/quick-setup/schedule" 
            hx-get="/quick-setup/schedule"
            class="border border-pink-500 rounded-md px-6 py-1 hover:bg-pink-100 active:bg-pink-200">
            Continue
        </a>
    </div>
</div>
{% endblock content %}