{% from '/macros/table.html' import heading_row%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Ennytime Profile Page</title>
  </head>
  <body class="dark:bg-gray-900">
    {% include 'webapp/header.html' %}
	<div class="py-8">
		<section class="bg-white dark:bg-gray-900 dark:text-gray-100">
			<div class="container mx-auto p-2 md:px-0">
				<h1 class="text-3xl text-[#D31D6C] dark:text-pink-100">
					Sessions
				</h1>
          <div class="relative w-full overflow-auto">
        <table class="w-full caption-bottom text-sm">
        <thead class="[&amp;_tr]:border-b">
        {{heading_row(headings)}}
      </thead>
      <tbody class="[&amp;_tr:last-child]:border-0">
          {% for session in sessions %}
      <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
      <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">{{session.id}}</td>
      <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">{{session.session_id}}</td>
      <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">{{session.user_id}}</td>
      <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">{{session.expires_at}}</td>
      <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0 flex justify-end gap-2">
      {% include '/svg/edit-svg.html'%}
      {% include '/svg/delete-svg.html'%}
      </td>
      </tr>
      {% endfor %}
          </tbody>
        </table>
        </div>
			</div>
		</section>
	</div>
    </div>
  </body>
</html>
