<div data-js-calendar class="js-calendar grid grid-cols-7 border border-collapse border-gray-300 md:border-0 md:gap-2">
	{# render calendar day headings #}
	{% for day_name in days_of_week %}
		<div class="text-center text-xl font-bold">{{ day_name }}</div>
	{% endfor %}
	{# render calendar cards #}
	{% for value in month_calendar.values() %}
		{# If the day is before or after the current month: render it gray and without data #}
		{% if value.date.month != current_month_object.month %}
			<div class="min-h-[48px] md:border-gray-900 md:rounded bg-gray-200  ">
				<div class="border md:border-gray-900 grid justify-center h-full md:rounded">
					{{value.date.day}}
				</div>
			</div>
		{# If the day is in the current month and the selected day: render it empty #}
		{% elif request.path_params.get("day") and request.path_params.get("day")|int == value.date.day %}
			<div id="container-{{value.date.day}}" class="min-h-[48px] border-gray-900 bg-white md:border-gray-900 md:rounded"></div>
		{# If the day is in the current month and not selected: render the simple card template #}
		{% else %}
			<div id="container-{{value.date.day}}" data-calendar-placeholder class="min-h-[48px] border-gray-900 bg-white md:border-gray-900 md:rounded">
				{% include '/calendar/calendar-card-simple.html'%}
			</div>
		{% endif %}
	{% endfor %}
</div>
