{% if user_shifts|length == 0 and bae_shifts|length == 0 %}
    {# both no shifts #}
    <p class="border p-4 rounded-md">You both have no shifts today. Meet up and see the world!</p>
{% elif user_shifts|length == 0 and bae_shifts|length > 0 %}
    {# Current user no shifts #}
    <p class="border p-4 rounded-md">You have no shifts today. You are free.</p>
    {#  bae yes shifts #}
    <ul class="bg-pink-300  p-4 rounded-md">
        {% for shift in bae_shifts  %}
            {% if shift[0].user_id == bae_user.id %}
                <p>{{shift[0].long_name}}</p>
            {% endif %}	
        {% endfor %}
    </ul>
{% elif user_shifts|length > 0 and bae_shifts|length == 0%}
    {# Current user yes shifts #}
    <ul class="bg-pink-500  p-4 rounded-md">
        {% for shift in user_shifts  %}
            {% if shift[0].user_id == current_user.id %}
                <p>{{shift[0].long_name}}</p>
            {% endif %}	
        {% endfor %}
    </ul>
    {# bae no shifts #}
    <p class="border p-4 rounded-md">{{bae_user.display_name}} has no shifts today. They are free.</p>
{% else %}
    {# Current user yes shifts #}
    <ul class="bg-pink-500  p-4 rounded-md">
        {% for shift in user_shifts  %}
            {% if shift[0].user_id == current_user.id %}
                <p>{{shift[0].long_name}}</p>
            {% endif %}	
        {% endfor %}
    </ul>
    {# bae no shifts #}
    <ul class="bg-pink-300  p-4 rounded-md">
        {% for shift in bae_shifts  %}
            {% if shift[0].user_id == bae_user.id %}
                <p>{{shift[0].long_name}}</p>
            {% endif %}	
        {% endfor %}
    </ul>
{% endif %}


