{% include "/calendar/fragments/detail-view.html" %}

<a 
    id="toggle-button"
    hx-swap-oob="true"
    hx-get="/calendar/{{date_object.year}}/{{date_object.month}}?day={{date_object.day}}&edit=true"
    hx-target=".js-card-content"
    hx-indicator="this"
    hx-swap="innerHTML transition:true"
    hx-on::before-request="toggleEnterFromRight('data-js-card-content');"
    href="/calendar/{{date_object.year}}/{{date_object.month}}?day={{date_object.day}}&edit=true"
    class="flex justify-center items-center rounded bg-blue-500 text-white px-4 py-1">
    Edit
</a>

