{% from '/macros/spinner.html' import spinner%}

{% include "calendar/fragments/edit-view.html" %}

<a 
    id="toggle-button"
    hx-swap-oob="true"
    hx-get="/calendar/{{date_object.year}}/{{date_object.month}}?day={{date_object.day}}"
    hx-target=".js-card-content"
    hx-indicator="this"
    hx-swap="innerHTML transition:true"
    hx-on::before-request="toggleEnterFromLeft('data-js-card-content');"
    href="/calendar/{{date_object.year}}/{{date_object.month}}?day={{date_object.day}}"
    class="flex justify-center items-center rounded bg-blue-500 text-white px-4 py-1"
>
    <span class="htmx-indicator-content">Back</span>
    <span class="htmx-indicator">{{spinner('spinner', 'h-5', 'h-5', 'text-blue-100')}}</span>
</a>
