<section class="min-h-[50vh] bg-gradient-to-r from-pink-500 to-pink-600 pb-36">
	<div class=" w-full mb-16 -pt-2">
		{% include "/svg/waves-up.svg" %}
	</div>
	<div class="flex flex-col items-center max-w-[600px] mx-auto text-white text-balance p-4">
		<h2 class="text-4xl text-center mb-6">Spend More Time with the One You Love</h2>
		<hr class="border-pink-300 mb-8 w-full" />
		<p class="mb-16 text-xl text-center">
			Take the pain out of scheduling and gain more time together!
		</p>
		<a href="signup"
		   class="bg-pink-700 hover:bg-pink-800 active:bg-pink-900 text-white text-2xl rounded-lg px-8 py-2">Sign Up</a>
	</div>
</section>