<section class="min-h-screen py-36 grid gap-16">
	<div class="max-w-[1000px] mx-auto grid md:grid-cols-2 md:gap-16">
		<div class="text-center md:text-left text-balance p-4 md:p-16">
			<h2 class="text-2xl text-pink-700 mb-2">Save your regular shifts</h2>
			<p>
				Set up all your regular shifts so you can quickly update your calendar every time you get your new work
				schedule.
			</p>
		</div>
		<div class="flex flex-col items-center bg-pink-50 md:rounded-2xl p-4 md:p-16">
			<img class="w-full max-w-[400px] mx-auto shadow-2xl shadow-pink-200 rounded-2xl"
				 src="../../static/img/features-new-shift-form.png"
				 alt="New shift type form demo" />
		</div>
	</div>
	<div class="max-w-[1000px] mx-auto grid md:grid-cols-2 md:gap-16">
		<div class="text-center md:text-left text-balance w-screen md:w-full md:order-2 p-4 md:p-16">
			<h2 class="text-2xl text-pink-700 mb-2">Add shifts to your calendar</h2>
			<p>
				Quick and easy click to schedule your shifts on all your working days.
			</p>
		</div>
		<div class="flex flex-col items-center bg-pink-50 md:rounded-2xl p-4 md:p-16">
			<img class="w-full max-w-[400px] md:max-auto h-full shadow-2xl shadow-pink-200 rounded-2xl"
				 src="../../static/img/features-edit-schedule.png"
				 alt="Edit schedule form" />
		</div>
	</div>
	<div class="max-w-[1000px] mx-auto grid md:grid-cols-2 md:gap-16">
		<div class="text-center md:text-left text-balance p-4 md:p-16">
			<h2 class="text-2xl text-pink-700 mb-2">Share your calendar with the one you love</h2>
			<p>
				Lover Search let's you find your loved one by their username. We value your privacy - there is no public list of users.
			</p>
		</div>
		<div class="flex flex-col items-center bg-pink-50 md:rounded-2xl p-4 md:p-16">
			<img class="w-full max-w-[400px] mx-auto shadow-2xl shadow-pink-200 rounded-2xl"
				 src="../../static/img/features-calendar-sharing.png"
				 alt="Share calendar form" />
		</div>
	</div>
	<div class="max-w-[1000px] mx-auto grid md:grid-cols-2 md:gap-16">
		<div class="text-center md:text-left text-balance md:order-2 p-4 md:p-16">
			<h2 class="text-2xl text-pink-700 mb-2">See your time together on the calendar</h2>
			<p>
				See all the times when you are both free on the Couple's Calendar. Just one glance to know when you'll
				be together again.
			</p>
		</div>
		<div class="flex flex-col items-center bg-pink-50 md:rounded-2xl p-4 md:p-16">
			<img class="w-full max-w-[400px] mx-auto shadow-2xl shadow-pink-200 rounded-2xl"
				 src="../../static/img/features-calendar-view.png"
				 alt="Share calendar form" />
		</div>
	</div>
</section>