<div 
    hx-target="previous .js-content-container"
    hx-swap="innerHTML transition:true"
    hx-swap-oob="true"
    id="footer"
    class="mb-16 w-full bg-white flex justify-between items-start grow-0 sm:relative">
    <a 
        href="/quick-setup/username"
        hx-get="/quick-setup/username"
        hx-on::before-request="toggleEnterFromLeft('data-js-content-container')"
        class="border border-pink-500 rounded-md px-3 py-1 hover:bg-pink-100 active:bg-pink-200">
        Back to username
    </a>
    <a 
        href="/"
        class="border border-pink-500 rounded-md px-3 py-1 hover:bg-pink-100 active:bg-pink-200">
        Finish without name
    </a>
</div>