{% extends "base.html" %}

{% block title %}
Ennytime Chat
{% endblock title %}

{% block content %}
<div class="max-w-[1000px] mx-auto">
	<p>Choose your chat</p>
	{% if not chat %}
	<p>You have no chats, start one below.</p>
	{% else %}
	<p>You have a chat with someone!</p>
	{% endif %}
	{% if not share %}
	<p>You haven't shared your calendar with anyone yet. Share your calendar before you start to chat.</p>
	{% else %}
	<p>You've shared your calendar with this person:</p>
	<div class="p-4 border rounded-md">
		<p class="mb-4">{{current_user.display_name}} and {{ share.guest_first_name }}</p>
		{% if not chat %}
		<a hx-post="/create-chat/{{share.owner_id}}/{{share.guest_id}}"
		   class="cursor-pointer" class="bg-gray-900 text-white px-3 py-1 rounded-md">Create Chat</a>
		
		{% else %}
		<a href="/chat/{{chat.room_id}}" class="bg-gray-900 text-white px-3 py-1 rounded-md">Enter Chat</a>
		{% endif %}
	</div>
</div>
{% endif %}
{% endblock content %}