{% extends "chat-base.html" %}

{% block title %}
Couple's Chat
{% endblock title %}

{% block content %}

<section class="flex flex-col h-screen max-w-[800px] mx-auto">
	<header class="fixed w-full top-0 left-0 h-[48px] bg-gray-900 text-white">
		<div class="w-full max-w-[1000px] mx-auto flex items-center gap-4">
			<a href="/"
			   class="text-5xl">&larr;</a>
			<h1 class="text-xl font-bold">Chat Ennytime</h1>
			{# <span id="ids"></span> #}
		</div>
	</header>

	<div id="chat-container"
		 class="h-full w-full flex-1 overflow-y-auto p-4 mt-[48px] mb-[72px] h-full space-y-4">
		{% block messages %}
		{% for message in messages  %}
		{% if message.sender_id == current_user.id %}
		<div class="flex justify-end">
			<div class="bg-pink-500 text-white p-3 rounded-lg max-w-[70%]">
				<p>{{message.message}}</p>
				<p class="text-xs text-gray-200 mt-1">{{message.created_at}}</p>
				{% if message.is_read %}
				<p class="text-xs text-gray-200">Read</p>
				{% else %}
				<p class="text-xs text-gray-200">Unread</p>
				{% endif %}
			</div>
		</div>
		{% else %}
		<div class="flex max-w-[800px]">
			{% if not message.is_read %}
			<div hx-get="/read-status/{{message.id}}"
				 hx-trigger="intersect once threshold:0.2"
				 hx-swap="none"
				 class="bg-pink-200 dark:bg-gray-800 text-gray-800 dark:text-gray-200 p-3 rounded-lg max-w-[70%]">
				{% else %}
				<div class="bg-pink-200 dark:bg-gray-800 text-gray-800 dark:text-gray-200 p-3 rounded-lg max-w-[70%]">
					{% endif %}
					<p>{{message.message}}</p>
					<p class="text-xs text-gray-500 dark:text-gray-400 mt-1">
						{{message.created_at}}
					</p>
				</div>
			</div>
			{% endif %}
			{% endfor %}
			{% endblock messages %}
		</div>
		<div hx-ext="ws"
			 ws-connect="/ws/chat/{{chat.room_id}}/{{current_user.id}}">
			<form id="chat-form"
				  ws-send
				  class="h-[72px] fixed w-full bottom-0 left-0 bg-gray-100 dark:bg-gray-950 p-4 flex items-center">
				<div class="w-full max-w-[800px] mx-auto flex items-center gap-4">
					<label class="sr-only"
						   for="message">Message</label>
					<textarea class="flex h-10 w-full bg-background text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 flex-1 rounded-lg px-4 py-2 border border-gray-300 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200"
							  id="message"
							  name="message"
							  placeholder="Type your message..."
							  type="text"></textarea>
					<button type="submit"
							class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 ml-4">
						<svg xmlns="http://www.w3.org/2000/svg"
							 width="24"
							 height="24"
							 viewBox="0 0 24 24"
							 fill="none"
							 stroke="currentColor"
							 stroke-width="2"
							 stroke-linecap="round"
							 stroke-linejoin="round"
							 class="w-5 h-5">
							<path d="m22 2-7 20-4-9-9-4Z"></path>
							<path d="M22 2 11 13"></path>
						</svg>
						<span class="htmx-indicator">...</span>
						<span class="sr-only">Send</span>
					</button>
				</div>
			</form>
		</div>
	</div>
</section>
<script>
	document.addEventListener('DOMContentLoaded', function () {
		const chatContainer = document.getElementById('chat-container');
		chatContainer.scrollTop = chatContainer.scrollHeight;
	});

	document.addEventListener('htmx:wsAfterMessage', function (event) {
		const chatInput = document.getElementById('message');
		chatInput.value = '';
		chatInput.focus();
		const sendButton = document.querySelector('#chat-form button[type="submit"]');
		sendButton.disabled = false;
		sendButton.classList.remove('disabled');
		sendButton.style.cursor = 'pointer';
	});

	document.addEventListener('htmx:wsBeforeSend', function (event) {
		const chatInput = document.getElementById('message');
		if (chatInput.value === '') {
			event.preventDefault();
			return;
		}
		const sendButton = document.querySelector('#chat-form button[type="submit"]');
		sendButton.disabled = true;
		sendButton.classList.add('disabled');
		sendButton.style.cursor = 'not-allowed';
	});

	document.addEventListener('htmx:wsBeforeMessage', function (event) {
		const response = JSON.parse(event.detail.message)
		const messageContent = response.message
		const message_created_at = response.created_at
		const message_sender_id = response.sender_id
		const message_id = response.id
		const message_is_read = response.is_read

		const chatContainer = document.getElementById('chat-container');
		const isCurrentUser = message_sender_id === Number("{{ current_user.id }}");

		const messageElement = isCurrentUser ? renderRightSideMessage(
			id = message_id,
			message = messageContent,
			created_at = message_created_at,
			is_read = message_is_read,
		) : renderLeftSideMessage(
			id = message_id,
			message = messageContent,
			created_at = message_created_at,
			is_read = message_is_read,
		);
		
		// check if currently at the bottom of chat
		const isScrolledToBottom = chatContainer.scrollHeight - chatContainer.clientHeight <= chatContainer.scrollTop + 1;
		// Append the new message to the chat container
		appendMessageToChat(chatContainer, messageElement, isScrolledToBottom);
	})

	// Function to generate the HTML structure for a message
	function renderRightSideMessage(id, message, created_at, is_read) {
		const messageWrapper = document.createElement('div');
		// Message from the current user
		messageWrapper.classList.add('flex', 'justify-end');
		messageWrapper.innerHTML = `
				<div class="bg-pink-500 text-white p-3 rounded-lg max-w-[70%]">
					<p>${message}</p>
					<p class="text-xs text-gray-200 mt-1">${created_at}</p>
					<p class="text-xs text-gray-200">${is_read ? 'Read' : 'Unread'}</p>
				</div>
			`;
		return messageWrapper;
	}

	function renderLeftSideMessage(id, message, created_at, is_read) {
		const messageWrapper = document.createElement('div');
		messageWrapper.classList.add('flex', 'justify-start');
		messageWrapper.innerHTML = `
				<div class="bg-pink-200 dark:bg-gray-800 text-gray-800 	dark:text-gray-200 p-3 rounded-lg max-w-[70%]">
					<p>${message}</p>
					<p class="text-xs text-gray-500 dark:text-gray-400 mt-1">${created_at}</p>
				</div>
			`;
		return messageWrapper;
	}
	
	function appendMessageToChat(chatContainer, messageElement, isScrolledToBottom) {
		chatContainer.appendChild(messageElement);

		// If the user is already scrolled to the bottom, auto-scroll to the latest message
		if (isScrolledToBottom) {
			chatContainer.scrollTop = chatContainer.scrollHeight;
		}
	}
</script>
{% endblock content %}