<div class="max-w-[800px] mx-auto px-2">
    <h1 class="mb-2 text-3xl text-pink-700">Your Schedule</h1>
    <p class="mb-4">Click the buttons to quickly add shifts to your calendar. Click again to remove them from your calendar.
    </p>
    <hr class="mb-4 border-pink-200"/>
    <ul class="divide-y">
        {% for date in month_calendar.values() %}
        <li class="py-2">
            <p class="mb-2">
                <span class="text-2xl text-center md:text-left">{{date.date_object.strftime("%A")}}</span>
                <span class="text-md text-gray-700 text-center md:text-left">({{date.date_object.strftime("%B")}} {{date.date_object.day}})</span>
            </p>
            <div class="grid grid-cols-3 gap-2 p-2 border rounded-md">
                {% for type in shift_types %}
                {% if type.id | is_user_shift(date.shifts) %}
                    {% include "scheduling/fragments/shift-exists-button.html" %}
                {% else %}
                    {% include "scheduling/fragments/no-shift-button.html" %}
                {% endif %}
                {% endfor %}
            </div>
        </li>
        {% endfor %}

    </ul>
</div>