<form
  class="py-2 flex flex-col gap-2"
  hx-put="/contact/{{user.id}}"
  hx-target="this"
  hx-swap="outerHTML"
>
  <label class="text-xl text-gray-800">Display name</label>
  <p>
    This is the name we'll use if we ever have to contact you. It's also the name that will be displayed to other users.
  </p>
  <input
    class="w-full max-w-[400px] p-2 bg-white rounded-md border border-white"
    type="text"
    name="display_name"
    value="{{user.display_name}}"
  />
  <div class="flex gap-2 pl-2">
    <button type="button" hx-get="/contact/{{user.id}}">
      Cancel
    </button>
    <button type="submit" >Save</button>
  </div>
</form>
