{% from "macros/spinner.html" import spinner %}
<section id="types"
		 class="bg-white dark:bg-gray-900 dark:text-gray-100">
	<div class="bg-pink-100 mx-auto md:rounded-md p-4">
		{% block shift_type_list %}
		<div id="type-list"
			 class="max-w-[400px] mx-auto min-h-[400px]">
			<div class="flex justify-between items-baseline mb-4">
				<h2 class="text-3xl">Shift Types</h2>
				<button hx-get="/shift-types/new"
						hx-target="#type-list"
						hx-swap="outerHTML show:body:bottom">New Type</button>
			</div>
			{% if not shift_types %}
			<p>You didn't add any of the shifts you work. Click 'New Type' to add some.</p>
			{% else %}
			<ul class="flex flex-col gap-2 w-full max-w-[400px]">
				{% for shift in shift_types %}
				<li class="flex justify-between p-2 rounded-md border border-pink-300">
					<span>
						{{ shift.long_name }} ({{ shift.short_name }})
					</span>
					<button hx-delete="/delete-shift-type/{{shift.id}}"
							hx-target="closest li"
							hx-swap="delete swap:0.5s"
							hx-confirm="Are you sure? This will delete {{shift.type}} from this list and your calendar."
							class="flex gap-2 justify-center items-center underline underline-offset-2 hover:text-red-500">
						<span class="htmx-indicator-content">Delete</span>
						<span class="htmx-indicator text-red-500 decoration-red-500">Deleting...</span>
					</button>
				</li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>
		{% endblock shift_type_list %}
	</div>
</section>