{% from '/macros/table.html' import heading_row%}
{% extends "base.html" %}

{% block title %}
Ennytime Profile Page
{% endblock title%}

{% block content %}
<div class="grid gap-4 py-8">
	<section class="bg-white dark:bg-gray-900 dark:text-gray-100">
		<div class="container mx-auto p-4">
			<h1 class="text-3xl text-[#D31D6C] dark:text-pink-100">
				Your profile
			</h1>
			<p>Manage all your personal details and shift information here.</p>
		</div>
	</section>
	<section class="bg-white dark:bg-gray-900 dark:text-gray-100">
		<div class="container mx-auto md:rounded-md p-4 bg-pink-100 dark:bg-gray-800">
			<h2 class="text-3xl mb-4">Contact info</h2>
			<div class="grid divide-y divide-pink-200">
				{% include 'webapp/profile/display-name.html'%}
				<div class="py-2 flex flex-col gap-2">
					<label class="text-xl text-gray-900 dark:text-gray-100">E-mail</label>
					<p>This is how we'll contact you with app information.</p>
					<p class="max-w-[400px] p-2 border border-pink-300 rounded-md">
						{{user.email}}
					</p>
				</div>
			</div>
		</div>
	</section>
	{% include "webapp/profile/sections/share-section.html" %}
	{% include "webapp/profile/sections/shift-type-section.html" %}

	{# <section class="bg-white dark:bg-gray-900 dark:text-gray-100">
		<div class="container mx-auto md:rounded-md p-4 bg-pink-100 dark:bg-gray-800">
			<h2 class="text-3xl mb-4">Your shifts</h2>
			<div class="max-w-[1200px] mx-auto flex justify-end">
				<a href="/shifts"
				   class="underline underline-offset-2">Add Shifts</a>
			</div>
			<table class="w-full">
				<thead>
					<tr>
						<th class="text-left">Type</th>
						<th class="hidden sm:block text-left">Date</th>
						<th class="text-left">Actions</th>
					</tr>
				</thead>
				<tbody id="shift-table"
					   hx-get="/shift-table"
					   hx-target="this"
					   hx-swap="outerHTML"
					   hx-trigger="getShiftTable from:body delay:1s">
					{% for shift in shifts %}
					<tr>
						<td>
							<p>{{shift.type.type}}</p>
							<p class="sm:hidden text-gray-700 dark:text-gray-300">{{shift.date}}</p>
						</td>
						<td class="hidden sm:block">{{shift.date}}</td>
						<td class="text-right">
							<button hx-delete="/delete-shift/{{shift.id}}"
									hx-target="closest tr"
									hx-swap="delete swap:0.5s"
									hx-confirm="Are you sure you want to delete this shift?"
									class="text-red-500 dark:text-red-500 hover:text-red-600">
								<span class="htmx-indicator-content">Delete</span>
								<span class="htmx-indicator">Deleting...</span>
							</button>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section> #}
</div>
{% endblock content %}