:root {
  /* light colors */
  --primary-color: #d31d6c;
  --secondary-color: #e396b8;
  --button-light: #f4dae5;
  --accent-color: #dd699b;

  --accent-light-contrast: #a51755;

  --bg-pink-light: #fde5ec;
  --bg-pink-dark: #21060e;
  /* dark colors */
  --primary-dark-color: #e22c7b;
  --secondary-dark-color: #691c3d;
  --button-dark: #240a15;
  --dark-accent-color: #962254;
}
