<!DOCTYPE html>
<html lang="en">

	<head>
		{% block head %}
		<meta charset="UTF-8">
		<meta name="viewport"
			  content="width=device-width, initial-scale=1.0">
		<script src="https://unpkg.com/htmx.org@1.9.10"
				integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
				crossorigin="anonymous"></script>
		<script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/Flip.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/fireworks-js@2.x/dist/index.umd.js"></script>
		<script defer
				src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
		<link rel="stylesheet" href="/static/css/styles.css?v=1.0.0" />
		<title>
			{% block title%}{% endblock title %}
		</title>
		{% endblock head %}
	</head>

	<body>
		{% block header %}
			{% include 'ui/header.html' %}
		{% endblock header%}
		<main>
			{% block content %}{% endblock content %}
		</main>
		{% include 'ui/page-load-indicator.html' %}
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		{# <script src="/static/js/behaviours/close-christmas-modal.js"></script> #}
		{# <script src="/static/js/behaviours/snow.js"></script> #}
		{# <script src="/static/js/behaviours/close-nye-modal.js"></script> #}
		{# <script src="/static/js/behaviours/fireworks.js"></script> #}
		<script src="https://cdn.jsdelivr.net/npm/@tsparticles/confetti@3.0.3/tsparticles.confetti.bundle.min.js"></script>
		<script src="/static/js/behaviours/heart-confetti.js"></script>
		<script src="/static/js/behaviours/close-valentines-modal.js"></script>
		<script src="/static/js/behaviours/swal.js"></script>
		<script src="/static/js/behaviours/slide-left-right.js"></script>
		<script src="/static/js/behaviours/calendar-popout.js"></script>
		<script src="/static/js/behaviours/display-success.js"></script>
		
		<script>
			document.body.addEventListener('unauthorizedRedirect', function () {
				window.location.href = '/signin';
			});

			document.body.addEventListener('htmx:responseError', function (event) {
				message = JSON.parse(event.detail.xhr.response).message
				alert(message);
			});
			
			document.body.addEventListener("showCard", (event) => {
				let container = htmx.find(`#container-${event.detail.value}`)
				htmx.removeClass(container, 'opacity-0')
			})

			function toggleCardPopout(day) {
				let cards = document.querySelectorAll('.calendar__card')

				cards.forEach((card) => {
					card.style.viewTransitionName = ""
				})

				let card = document.getElementById(`day-${day}`)
				console.log(card)
				card.style.viewTransitionName = "popout-card"
			}
		</script>
	</body>
</html>