<div class="grid grid-cols-7 gap-2">
      {% for day in days_of_week %}
		<div class="text-center text-xl font-bold">{{ day }}</div>
      {% endfor %}
	  {% for week in month_calendar %}
		{% for day in week %}
			{% if day == 0 %}
				<div 
				hx-get="/modal/{{ day }}"
				hx-target="body"
				hx-swap="beforeend"
				hx-trigger="click"
				class="min-h-[48px] rounded-md border border-gray-900 bg-gray-300 cursor-pointer"
				></div>
			{% else %}
				<div 
				hx-get="/modal/{{ day }}"
				hx-target="body"
				hx-swap="beforeend"
				hx-trigger="click"
				class="min-h-[48px] grid rounded-md border border-gray-900 text-gray-900 text-center cursor-pointer"
				>
					<span>
						{{ day }}
					</span>
					<span>
					{% for shift in shifts %}
						{% if shift.date == day %}
							{{ shift.type }}
						{% endif %}
					{% endfor %}
					</span>
				</div>
			{% endif %}
		{% endfor %}
	  {% endfor %}
    </div>