<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Ennytime Couple's Calendar</title>
  </head>
  <body>
    <span>Ennytime</span>
    <h1>Make 'finding the time' easy again.</h1>
    <p>A work schedule sharing app for couples.</p>
	<div class="grid grid-cols-7 gap-2">
      {% for day in days_of_week %}
		<div>{{ day }}</div>
      {% endfor %}
	  {% for week in month_calendar %}
		{% for day in week %}
			{% if day == 0 %}
				<div class="rounded-md bg-gray-700"></div>
			{% else %}
				<div class="grid rounded-md bg-gray-100 text-gray-900 text-center">
					<span>
						{{ day }}
					</span>
					<span>
					{% for shift in shifts %}
						{% if shift.date == day %}
							{{ shift.type }}
						{% endif %}
					{% endfor %}
					</span>
				</div>
			{% endif %}
		{% endfor %}
	  {% endfor %}
    </div>
  </body>
</html>
