<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Ennytime Couple's Calendar</title>
  </head>
  <body>
    <section class="w-screen h-screen grid place-items-center p-16 bg-pink-700">
      <article class="grid md:grid-cols-2 max-w-[1200px] mx-auto">
        <div class="flex flex-col gap-8 text-white">
          <span class="text-5xl">Make finding time easy again.</span>
          <h1 class="text-3xl">
            Easy calendar sharing for couples working shifts.
          </h1>
        </div>
        <div class="bg-white rounded-md text-black p-16 min-h-[500px] max-w-[400px] mx-auto">
          <h2 class="text-5xl mb-4">Sign up</h2>
		  <p class="mb-4 text-gray-700 text-[16px]">Start sharing your calendar with the ones you love.</p>
          <form class="grid gap-2 mb-8">
            <div class="flex flex-col gap-1">
              <label>Email</label>
              <input
                class="border rounded p-2"
                type="email"
                name="email"
                required
              />
            </div>
            <div class="flex flex-col gap-1">
              <label>Password</label>
              <input
                class="border rounded p-2"
                type="password"
                name="password"
                required
              />
            </div>
            <button class="px-2 py-1 bg-pink-700 text-white rounded">
              Find the time
            </button>
          </form>
          <p>
            Already have an account?
            <button
			class="text-pink-700 underline"
              hx-post="/signin"
              hx-target="closest html"
              hx-swap="innerHTML"
            >
              Sign in
            </button>
          </p>
        </div>
      </article>
    </section>
  </body>
</html>
