<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Ennytime Couple's Calendar</title>
  </head>
  <body class="min-h-screen dark:bg-gray-900">
    {% include 'landing-header.html' %}
    <section class="bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100  grid md:place-items-center bg-pink-700 p-2 py-8 md:py-16 ">
      <div class="grid md:grid-cols-2 md:gap-16 mx-auto">
        <article class="flex flex-col py-8 gap-8 md:max-w-[400px] ">
          <span class="text-3xl md:text-6xl md:max-w-[400px]">Make finding the time easy again.</span>
          <h1 class="text-xl md:text-2xl md:max-w-[65ch]">
            Easy calendar sharing for couples doing shift work.
          </h1>
        </article>
        <article
          class="bg-[#FDE5EC] dark:bg-[#691C3D] rounded-md text-black p-8 md:max-w-[400px] mx-auto "
        >
          <h2 class="text-5xl mb-4  dark:text-gray-100">Sign up</h2>
          <p class="mb-4 text-gray-700 dark:text-gray-300 text-[16px]">
            Start sharing your calendar with the one you love.
          </p>
          <form hx-post="/signup" hx-target="this" hx-swap="afterbegin" class="grid gap-2 mb-8">
            <div class="flex flex-col gap-1">
              <label class=" dark:text-gray-100 font-bold">Email</label>
              <input
                class="border rounded p-2 text-gray-700"
                type="email"
                name="email"
                required
              />
            </div>
            <div class="flex flex-col gap-1">
              <label 
              class="   dark:text-gray-100 font-bold"
              >Password</label>
              <input
                class="border rounded p-2"
                type="password"
                name="password"
                required
              />
            </div>
            <button class="px-2 py-1 bg-[#D31D6C] dark:bg-[#E22C7B] text-white rounded">
              Find the time
            </button>
          </form>
          <p class="text-gray-700 dark:text-gray-300">
            Already have an account?
            <a class="text-[#a51755] dark:text-[#E22C7B] underline" href="/signin">Sign in</a>
          </p>
        </article>
      </div>
    </section>
  </body>
</html>
