<div
  id="modal"
  _="on closeModal add .closing then wait for animationend then remove me"
>
  <div class="modal-underlay" _="on click trigger closeModal"></div>
  <div class="modal-content">
    <h1>Register shift to Month X Day {{ day_number }}</h1>
    {% if shift_types == [] %}
    <p>No shift types available</p>
    <p><a href="/profile">Go your your profile to make some.</a> </p>
    {% else %}
    <form hx-post="register-shift">
      {% for shift in shift_types %}
      <div>
        <label> {{shift}} </label>
        <input
          type="radio"
          id="{{shift}}"
          name="shift_type"
          value="{{shift}}"
        />
      </div>
      {% endfor %}
      <button type="submit">Save shift</button>
    </form>
    {% endif %}
    <button _="on click trigger closeModal">Close</button>
  </div>
</div>
