<div
  id="modal"
  _="on closeModal add .closing then wait for animationend then remove me"
>
  <div class="modal-underlay" _="on click trigger closeModal"></div>
  <div class="modal-content">
    <h1>Register shift to date</h1>
    <form hx-post="register-shift">
      {% for shift in shift_types %}
      <div>
        <label> {{shift}} </label>
        <input
          type="radio"
          id="{{shift}}"
          name="shift_type"
          value="{{shift}}"
        />
      </div>
      {% endfor %}
      <button type="submit">Save shift</button>
    </form>
    <button _="on click trigger closeModal">Close</button>
  </div>
</div>
