<div
  id="modal"
  _="on closeModal add .closing then wait for animationend then remove me"
>
  <div class="modal-underlay" _="on click trigger closeModal"></div>
  <div class="modal-content">
    <h2>Schedule new shift</h2>
    {% if shift_types == [] %}
    <p>No shift types available</p>
    <p><a href="/profile">Go your your profile to make some.</a></p>
    {% else %}
    <p>You are registering your shift for Month X Day {{day_number}}</p>
    <form hx-post="register-shift" hx-include="#form_day_number">
      {% for shift in shift_types %}
      <div class="flex flex-col gap-1 sr-only">
        <label>Date</label>
        <input
          readonly
          type="number"
          value="{{day_number}}"
          name="date"
          class="border rounded p-2"
        />
      </div>
      <div>
        <label> {{shift}} </label>
        <input
          type="radio"
          id="{{shift}}"
          name="shift_type"
          value="{{shift}}"
        />
      </div>
      {% endfor %}
      <button type="submit">Save shift</button>
    </form>
    {% endif %}
    <button _="on click trigger closeModal">Close</button>
  </div>
</div>
