{% extends "base.html" %}
{% block content %}
<main>
	<section class="sm:pt-16 h-screen bg-pink-200 sm:bg-none">
		<div class="max-w-[600px] mx-auto sm:rounded-xl text-center sm:border text-balance">
			<div class="bg-white pt-16 pb-8 sm:rounded-t-xl sm:shadow-inner">
				<h1 class="text-5xl">Page Not Found</h1>
			</div>
			<div class="pt-8 pb-16 bg-pink-200 sm:rounded-b-xl">
				<p class="text-xl text-pink-900 mb-8">Sorry, we couldn't find the page you are looking for.</p>
				<a href="/"
				   class="p-4 rounded-md bg-pink-700 hover:bg-pink-800 active:bg-pink-900 text-white inline-block">Go
					Back Home</a>
			</div>
		</div>
	</section>
</main>
{% endblock content %}