<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Ennytime Profile Page</title>
  </head>
  <body class="dark:bg-gray-900">
    {% include 'header.html' %}
    <div class="py-8">
      <section class="bg-white dark:bg-gray-900 dark:text-gray-100">
        <div class="container mx-auto p-2 md:px-0">
          <h1 class="text-3xl text-[#D31D6C] dark:text-pink-100">
            Your profile
          </h1>
          <p>Manage all your personal details and shift information here.</p>
        </div>
      </section>
      <section class="bg-white dark:bg-gray-900 dark:text-gray-100">
        <div class="container mx-auto p-2 md:px-0">
          <div class="rounded-md p-4 bg-pink-100 dark:bg-gray-800">
            <h2 class="text-3xl">Contact info</h2>
            <div class="grid divide-y divide-gray-900">
              {% include '/contact/display-name.html'%}
              <div class="py-2">
                <label class="text-xl text-gray-600">Primary email</label>
                <p>Email: {{user.email}}</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="bg-white dark:bg-gray-900 dark:text-gray-100">
        <div class="container mx-auto p-2 md:px-0">
          <div class="rounded-md p-4 bg-pink-100 dark:bg-gray-800">
            <h2 class="text-3xl mb-4">Sharing</h2>
            <p>
              Share your calendar with your significant other. Search their display name to share.
            </p>
            <input
              class="p-2 rounded-md text-black"
              type="search"
              name="search_display_name"
              placeholder="Begin Typing To Search Users..."
              hx-post="/search"
              hx-trigger="input changed delay:500ms, search"
              hx-target="#search-results"
            />
            <div id="share-success"></div>
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Share</th>
                </tr>
              </thead>
              <tbody id="search-results"></tbody>
            </table>
          </div>
        </div>
      </section>
      <section class="bg-white dark:bg-gray-900 dark:text-gray-100">
        <div class="container mx-auto p-2 md:px-0">
          <div class="flex flex-col md:flex-row md:p-0 gap-8 rounded-md">
            <article class="rounded-md p-4 bg-pink-100 dark:bg-gray-800">
              <h2 class="text-3xl mb-4 text-pink-900">Your shift details</h2>
              {% include 'shifts/shift-list.html' %}
            </article>
            <form
              class="max-w-[400px] grid gap-4 rounded-md p-4 dark:bg-gray-800"
              hx-post="register-shift-type"
              hx-target="#shift-list"
            >
              <h3 class="text-xl dark:text-gray-300">Add new shift type</h3>
              <div class="flex flex-col gap-1">
                <label for="shift_type" class="dark:text-gray-100"
                  >Shift type</label
                >
                <input
                  type="text"
                  id="shift_type"
                  name="shift_type"
                  required
                  class="border p-2 shadow rounded dark:bg-gray-800 dark:text-gray-100"
                />
              </div>
              <button class="bg-[#E22C7B] px-3 py-1 rounded-md">Save</button>
            </form>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
