<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Ennytime Profile Page</title>
  </head>
  <body>
    {% include 'header.html' %}
    <div class="container mx-auto p-2">
      <h1>Manage your profile</h1>
	  <section>
		<h2>Shift details</h2>
		<div class="flex">
			<article class="min-w-[400px]">
			  <h3 class="text-xl text-gray-600">Your shifts</h3>
			  {% include 'shifts/shift-list.html' %}
			</article>
			<form class="min-w-[400px]" hx-post="register-shift-type" hx-target="#shift-list">
			  <h3 class="text-xl text-gray-600">Add new shift types</h3>
			  <div class="flex flex-col gap-1">
				  <label for="shift_type">Add a shift type</label>
				  <input type="text" id="shift_type" name="shift_type" class="border p-2 shadow rounded" />
			  </div>
			  <button>Save</button>
			</form>
		</div>
	  </section>
    </div>
  </body>
</html>
