<header class="header">
    <div class="wrapper header__wrapper">
        <span class="header__logo">Ennytime</span>
		<button onclick="htmx.toggleClass(htmx.find('nav'), 'open')" class="header__toggle">
			{% include "svg/hamburger.html" %}
		</button>
		<nav class="nav">
			{% if not current_user %}
            <a href="/" class="text-white">Home</a>
            <a href="/signup" class="text-white">Sign up</a>
            <a href="/signin" class="text-white">Sign in</a>
			{% else %}
			<a href="/">Calendar</a>
            <a href="/scheduling">Scheduling</a>
            <a href="/shifts">Shifts</a>
			{% endif %}
			{% if current_user %}
			<a href="/signout">Sign Out</a>			
			{% endif %}
			<button class="header__close" onclick="htmx.toggleClass(htmx.find('nav'), 'open')">{% include "svg/close.html" %}</button>
		</nav>
    </div>
</header>
