<form 
    hx-post="/shifts/new"
    hx-target="closest div"
    hx-swap="innerHTML">
    <div class="shifts-form__input-group">
        <label 
            for="shift_name"
            class="shifts-form__label">
            Shift Name
        </label>
        <span class="mb-4">Choose a name for your shift like <strong>Day Shift</strong> or <strong>Night Shift</strong>.</span>
        <input 
            type="text"
            id="shift_name"
            name="shift_name"
            required
            placeholder="Night Shift"
            class="shifts-form__input"/>
    </div>
    <button 
        type="submit"
        class="shifts-form__btn">
        <span class="htmx-indicator-content">Save</span>
        <span class="htmx-indicator">...</span>
    </button>
</form>