{% from '/macros/spinner.html' import spinner%}
{% extends "base.html" %}

{% block title %}
Ennytime Sign In
{% endblock title %}

{% block content %}
<section class="auth">
    <div class="wrapper auth__wrapper">
        <header>
            <h2 class="auth__heading">Sign in</h2>
            <p>Get the most possible time with your special someone.</p>
        </header>
        {% include "auth/forms/sign-in-form.html" %}
        <footer class="auth__footer">
            <p>Don't have an account? <a href="/signup" class="auth__footer-link" >Sign up</a></p>
        </footer>
    </div>
</section>
{% endblock content %}