{% from '/macros/spinner.html' import spinner%}
{% extends "base.html" %}

{% block title %}
Ennytime Sign In
{% endblock title %}

{% block content %}

    <section
      class="bg-white   grid place-items-center p-2 py-8 md:py-16 bg-pink-700"
    >
      <div
        class="bg-[#FDE5EC]  grid mx-auto rounded-md text-black p-8 min-h-[500px] max-w-[400px]"
      >
        <header>
            <h2 class="text-5xl mb-4 ">Sign in</h2>
            <p class="mb-4 text-gray-700  text-[16px]">
            Welcome back to getting the most possible time with your special
            someone.
            </p>
        </header>
        {% include "auth/forms/sign-in-form.html" %}
        <footer>
            <p class="text-gray-700 ">
            Don't have an account?
            <a href="/signup" class="text-[#a51755]  underline">
                Sign up
            </a>
            </p>
        </footer>
      </div>
    </section>
{% endblock content %}