
{% from '/macros/spinner.html' import spinner%}
{% extends "base.html" %}

{% block title %}
Ennytime Sign Up
{% endblock title %}

{% block content %}
<section class="auth">
    <div class="wrapper auth__wrapper">
        <header>
            <h2 class="auth__heading">Sign up</h2>
            <p>Start sharing your calendar with the one you love.</p>
        </header>
        {% include "auth/forms/sign-up-form.html" %}
        <footer class="auth__footer">
            <p>Already have an account? <a href="/signin" class="auth__footer-link" >Sign in</a></p>
        </footer>
    </div>
</section>
{% endblock content %}