{% include "/quick-setup/scheduling/fragments/schedule-content.html" %}
<div id="breadcrumb" hx-swap-oob="true" class="flex justify-center gap-4 mb-4">
    <a href="/quick-setup/shifts" class="bg-pink-200 h-4 w-4 rounded-full duration-200 ease-in-out"></a>
    <a href="/quick-setup/schedule" class="bg-pink-600 h-4 w-4 rounded-full duration-200 ease-in-out"></a>
    <a href="/quick-setup/username" class="bg-pink-200 h-4 w-4 rounded-full duration-200 ease-in-out"></a>
    <a href="/quick-setup/display-name" class="bg-pink-200 h-4 w-4 rounded-full duration-200 ease-in-out"></a>
</div>
{% include "/quick-setup/scheduling/fragments/schedule-footer.html" %}