{% from '/macros/spinner.html' import spinner%}
<div hx-get="/calendar-card-detail/{{date.date}}"
	 hx-target="this"
	 hx-swap="outerHTML"
	 hx-trigger="click"
	 class="grid w-full h-full max-w-[200px] m-auto rounded-md text-gray-900 dark:text-gray-100 text-center cursor-pointer md:p-2 bg-white dark:bg-gray-700">
	<div class="htmx-indicator w-full h-full grid place-content-center">
		{{spinner('spinner', 'h-6', 'h-6', 'text-black')}}
	</div>
	<div class="htmx-indicator-content grid grid-rows-3 md:gap-2 max-h-[200px]">
		<span>{{ date.day_number }}</span>
		{% if date.shifts|length == 1%}
		<ul>
			<li class="rounded-md bg-pink-500 text-black dark:bg-pink-700 dark:text-white">
				{{date.shifts[0].short_name}}
			</li>
		</ul>
		{% elif date.shifts|length > 1%}
		<ul>
			<li class="rounded-md bg-pink-500 text-black dark:bg-pink-700 dark:text-white">
				{{date.shifts|length}} shifts
			</li>
		</ul>
		{%endif%}
		{% if date.bae_shifts and date.bae_shifts|length == 1%}
		<ul class="row-start-3">

			<li class="rounded-md bg-pink-300 text-black dark:bg-pink-700 dark:text-white">
				{{date.bae_shifts[0].short_name}}
			</li>

		</ul>
		{% elif date.bae_shifts and date.bae_shifts|length > 1%}
		<ul>
			<li class="rounded-md bg-pink-300 text-black dark:bg-pink-700 dark:text-white">
				{{date.bae_shifts|length}} shifts
			</li>
		</ul>
		{%endif%}
	</div>
</div>