<div
    x-show="showSimple"
    x-transition:enter="transition ease-out duration-200"
    x-transition:enter-start="opacity-0 scale-90"
    x-transition:enter-end="opacity-100 scale-100"
    x-transition:leave="transition ease-in duration-200"
    x-transition:leave-start="opacity-100 scale-100"
    x-transition:leave-end="opacity-0 scale-90"
    hx-get="/calendar-card-detail/{{date.date}}"
    hx-target="this"
    hx-swap="outerHTML transition:true"
    hx-trigger="click delay:900ms"
    class="grid w-full h-full max-w-[200px] m-auto rounded-md text-gray-900 dark:text-gray-100 text-center cursor-pointer md:p-2 bg-white dark:bg-gray-700"
>
    <div class="grid grid-rows-3 md:gap-2 max-h-[200px]">
        <span>{{ date.day_number }}</span>
        {% if date.shifts|length > 0%}
        <ul>
            {% for shift in date.shifts %}
            <li
                class="rounded-md bg-green-300 text-black dark:bg-green-700 dark:text-white"
            >
                {{shift.type_name}}
            </li>
            {% endfor %}
        </ul>
        {%endif%} {% if date.bae_shifts and date.bae_shifts|length > 0%}
        <ul class="row-start-3">
            {% for shift in date.bae_shifts %}
            <li
                class="rounded-md bg-pink-300 text-black dark:bg-pink-700 dark:text-white"
            >
                {{shift.type_name}}
            </li>
            {% endfor %}
        </ul>
        {%endif%}
        <button
            id="modal-close-btn"
            class="hidden"
            onclick="moveCalendarCard(Number(`{{date.day_number}}`))"
        >
            Close
        </button>
    </div>
</div>
