{% from '/macros/spinner.html' import spinner %}

<div hx-get="/calendar-card-detail/{{date.date}}"
	 hx-target="this"
	 hx-swap="outerHTML"
	 hx-trigger="click"
	 class="relative grid w-full h-full max-w-[200px] m-auto rounded-md text-gray-900 dark:text-gray-100 text-center cursor-pointer md:p-2 bg-white dark:bg-gray-700">
	{# loading spinner #}
	<div class="htmx-indicator w-full h-full grid place-content-center">
		<div class="w-full h-full flex justify-center items-center">
			{{spinner('spinner', 'h-6', 'h-6', 'text-black')}}
		</div>
	</div>
	{# day number #}
	{# birthdays #}
	<div class="sm:absolute sm:-top-5 w-full flex justify-center">
		{% for birthday in birthdays %}
		{% if birthday.day == date.day_number %}
		<div class="rounded-full bg-pink-500 h-8 w-8 flex justify-center items-center">
			<img 
				 src="../../../static/birthday-cake.png"
				 alt="HBD"
				 class="h-5 w-5">
		</div>
		{% endif %}
		{% endfor %}
	</div>
	{# shifts #}
	<div class="htmx-indicator-content grid grid-rows-3 md:gap-2 max-h-[200px]">
		<span>{{ date.day_number }}</span>
		{# user shifts #}
		{% if date.shifts|length == 1%}
		<ul>
			<li class="rounded-md bg-pink-500 text-black dark:bg-pink-700 dark:text-white">
				{{date.shifts[0].short_name}}
			</li>
		</ul>
		{% elif date.shifts|length > 1%}
		<ul>
			<li class="rounded-md bg-pink-500 text-black dark:bg-pink-700 dark:text-white">
				{{date.shifts|length}} shifts
			</li>
		</ul>
		{%endif%}
		{# bae shifts #}
		{% if date.bae_shifts and date.bae_shifts|length == 1%}
		<ul class="row-start-3">

			<li class="rounded-md bg-pink-300 text-black dark:bg-pink-700 dark:text-white">
				{{date.bae_shifts[0].short_name}}
			</li>

		</ul>
		{% elif date.bae_shifts and date.bae_shifts|length > 1%}
		<ul>
			<li class="rounded-md bg-pink-300 text-black dark:bg-pink-700 dark:text-white">
				{{date.bae_shifts|length}} shifts
			</li>
		</ul>
		{%endif%}
	</div>
</div>