<div
  hx-get="/add-shift-form/{{date.date}}"
  hx-target="this"
  hx-swap="outerHTML"
  hx-trigger="click delay:300ms"
  class="grid w-full h-full rounded-md text-gray-900 dark:text-gray-100 text-center cursor-pointer md:p-2 bg-white dark:bg-gray-700"
  onclick="moveCalendarCard(Number(`{{date.day_number}}`))"
>
  <div class="grid grid-rows-3 md:gap-2">
    <span> {{ date.day_number }} </span>
    {% if date.shifts|length > 0%}
    <ul>
      {% for shift in date.shifts %}
      <li
        class="rounded-md bg-green-300 text-black dark:bg-green-700 dark:text-white"
      >
        {{shift.type}}
      </li>
      {% endfor %}
    </ul>
    {%endif%} 
    {% if date.bae_shifts and date.bae_shifts|length > 0%}
    <ul class="row-start-3">
      {% for shift in date.bae_shifts %}
      <li
        class="rounded-md bg-pink-300 text-black dark:bg-pink-700 dark:text-white"
      >
        {{shift.type}}
      </li>
      {% endfor %}
    </ul>
    {%endif%}
  </div>
</div>
