<div id="share-section"
	 class="flex flex-col gap-2">
	<p>
		You've shared your calendar with someone. Unshare the calendar if you want
		to share with someone else.
	</p>
	<p class="flex gap-2 items-center bg-white p-2 rounded-md">{{current_user_sent_share.user.display_name}} @
		{{current_user_sent_share.user.username}}
		<button hx-delete="/share-calendar/{{current_user_sent_share.share.id}}"
				hx-target="#share-section"
				hx-swap="outerHTML"
				class="flex gap-2 justify-center items-center text-pink-700">
			<span class="htmx-indicator-content">
				Unshare
			</span>
			<span class="htmx-indicator">
				Unsharing
			</span>
		</button>
	</p>
</div>