{% extends "base.html" %}
{% block title %}
Ennytime Add Shifts
{% endblock title %}
{% block content %}
<section>
	<div class="max-w-[800px] mx-auto">
		<h1>Add your shifts</h1>
		<p>Current month: {{current_month}}</p>
		<ul class="divide-y">
			{% for date in month_calendar.values() %}
			<li class="py-2 flex justify-between grid grid-cols-2 md:grid-cols-3">
				<span>{{date.date_string}}</span>
				<span>{{date.day_of_week}}</span>
				<div class="col-span-2 md:col-span-1">
					{% for type in shift_types %}
					{% if date.shift and type.id == date.shift.type_id %}
					<button class="bg-blue-300">{{type.long_name}}</button>
					{% else %}
					<button class="bg-gray-300">{{type.long_name}}</button>
					{% endif %}
					{% endfor %}
				</div>
			</li>
			{% endfor %}

		</ul>
	</div>
</section>
{% endblock content %}