{% extends "base.html" %}

{% block title %}
Ennytime Couple's Calendar
{% endblock title %}
{% block content %}
<section data-js-calendar
		 class="enter-from-right dark:bg-gray-900 py-4 dark:text-gray-100">
	{% block calendar %}
	{% from '/macros/spinner.html' import spinner%}
	<div class="container mx-auto px-2">
		<div class="mb-4">
			<p class="min-h-8 text-center">
				{{spinner('spinner', 'h-6', 'h-6', 'text-black')}}
			</p>
			<h1 class="text-4xl mb-2 md:mb-4 md:text-5xl text-center col-span-2">
				{{current_month}} {{current_year}}
			</h1>
			<div class="flex gap-2 justify-center">
				{% if current_month_number == 1 %}
				<button disabled
						class="col-span-1 px-3 py-1 border rounded bg-gray-200 dark:bg-gray-900 dark:border-gray-900 opacity-70">
					{{prev_month_name}}
				</button>
				{% else %}
				<button hx-get="/?month={{current_month_number-1}}"
						hx-target="closest section"
						hx-swap="innerHTML transition:true"
						hx-indicator="#spinner"
						hx-push-url="true"
						hx-on::before-request="setEnterFromLeft();"
						class="col-span-1 px-3 py-1 border rounded dark:bg-gray-700 dark:border-gray-700">
					{{prev_month_name}}
				</button>
				{% endif%}
				<!-- if end of year -->
				{% if current_month_number == 12 %}
				<button disabled
						class="col-span-1 px-3 py-1 border rounded bg-gray-200 dark:bg-gray-900 dark:border-gray-900 opacity-70">
					{{next_month_name}}
				</button>
				{% else %}
				<button hx-get="/?month={{current_month_number+1}}"
						hx-target="closest section"
						hx-swap="innerHTML transition:true"
						hx-indicator="#spinner"
						hx-push-url="true"
						hx-on::before-request="setEnterFromRight();"
						class="col-span-1 px-3 py-1 border rounded dark:bg-gray-700 dark:border-gray-700">
					{{next_month_name}}
				</button>
				{% endif %}
			</div>
		</div>
		{% include '/calendar/calendar.html' %}
	</div>
	{% endblock calendar %}
</section>
<div id="overlay"
	 class="p-2 sm:p-0 hidden grid place-items-center fixed top-0 left-0 w-full h-full bg-black/50 transition duration-1000 ease-in-out">
	<div id="modal"
		 class="hidden w-full max-w-[500px] aspect-square"></div>
</div>
<script>
	gsap.registerPlugin(Flip);

	function moveCalendarCard(day_number) {
		const calendarCard = document.getElementById(
			`day-${day_number}`
		);
		const calendarContainer = document.getElementById(
			`container-${day_number}`
		);
		const modal = document.getElementById("modal");
		const state = Flip.getState(`#day-${day_number}`);

		if (calendarCard.parentNode !== modal) {
			modal.append(calendarCard);
		} else {
			calendarContainer.append(calendarCard);
		}
		changeClasses(day_number);

		Flip.from(state, {
			duration: 0.4,
			ease: "power1.inOut",
			absolute: true,
			onComplete: () => {
				calendarCard.offsetHeight;
				calendarContainer.offsetHeight;
				modal.offsetHeight;
			},
		});
	}

	function changeClasses(day_number) {
		const overlay = document.getElementById("overlay");
		overlay.classList.toggle("hidden");
		const modal = document.getElementById("modal");
		modal.classList.toggle("hidden");
		let selectedCard = htmx.find(`#day-${day_number}`);
		htmx.toggleClass(selectedCard, "rounded-md", 250);
		htmx.toggleClass(selectedCard, "border", 250);

	}
</script>
<script>
	function setEnterFromRight() {
		const calendar = document.querySelector("[data-js-calendar]");
		if (!calendar) return;
		if (calendar.classList.contains("enter-from-left")) {
			calendar.classList.remove("enter-from-left");
		}
		if (!calendar.classList.contains("enter-from-right")) {
			calendar.classList.add("enter-from-right");
		}
	}

	function setEnterFromLeft() {
		const calendar = document.querySelector("[data-js-calendar]");
		if (!calendar) return;
		if (calendar.classList.contains("enter-from-right")) {
			calendar.classList.remove("enter-from-right");
		}
		if (!calendar.classList.contains("enter-from-left")) {
			calendar.classList.add("enter-from-left");
		}
	}
</script>
{% endblock content %}