{% extends "base.html" %}

{% block title %}
Ennytime Couple's Calendar
{% endblock title %}
{% block content %}
<section data-js-calendar
		 class="py-4">
	{% block calendar %}
	{% from '/macros/spinner.html' import spinner%}
	<div class="container mx-auto px-2">
		<div class="mb-4">
			<p class="min-h-8 text-center">
				{{spinner('spinner', 'h-6', 'h-6', 'text-black')}}
			</p>
			<h1 class="text-4xl mb-2 md:mb-4 md:text-5xl text-center col-span-2">
				{{current_month}} {{current_year}}
			</h1>
			<div class="flex gap-2 justify-center">
				{% if current_month_number == 1 %}
				<button disabled
						class="col-span-1 px-3 py-1 border rounded bg-gray-200   opacity-70">
					{{prev_month_name}}
				</button>
				{% else %}
				<button hx-get="/?month={{current_month_number-1}}"
						hx-target="closest section"
						hx-swap="innerHTML transition:true"
						hx-indicator="#spinner"
						hx-push-url="true"
						hx-on::before-request="toggleEnterFromLeft('data-js-calendar');"
						class="col-span-1 px-3 py-1 border rounded  ">
					{{prev_month_name}}
				</button>
				{% endif%}
				<!-- if end of year -->
				{% if current_month_number == 12 %}
				<button disabled
						class="col-span-1 px-3 py-1 border rounded bg-gray-200   opacity-70">
					{{next_month_name}}
				</button>
				{% else %}
				<button hx-get="/?month={{current_month_number+1}}"
						hx-target="closest section"
						hx-swap="innerHTML transition:true"
						hx-indicator="#spinner"
						hx-push-url="true"
						hx-on::before-request="toggleEnterFromRight('data-js-calendar');"
						class="col-span-1 px-3 py-1 border rounded  ">
					{{next_month_name}}
				</button>
				{% endif %}
			</div>
		</div>
		{% include '/calendar/calendar.html' %}
	</div>
	{% endblock calendar %}
</section>
<div id="overlay"
	 class="p-2 sm:p-0 hidden opacity-0 grid place-items-center fixed top-0 left-0 w-full h-full bg-black/50 transition-all duration-400 ease-in-out">
	<div id="modal"
		 class="w-full max-w-[500px] aspect-square"></div>
</div>
{% endblock content %}